{% autoescape off %}
Здравствуйте, {{ user.first_name }}!

Вы получили это письмо, потому этот адрес электронной почты был использован для регистрации 
на сайте {{ domain }}.
Чтобы активировать учетную запись, пожалуйста, перейдите на эту страницу:

{{ protocol }}://{{ domain }}{% url 'confirm_user_mail' uidb64=uid token=token %}

Ваше имя пользователя (на случай, если вы его забыли): {{ user.username }}

Благодарим Вас за использование нашего сайта.
С уважением, команда сайта {{ domain }}
{% endautoescape %}