{% extends 'salary/base.html' %}
{% load static %}

{% block body %}
<body class="bg-dark text-light h-100">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-md-center">
            <div class="col-md-12">
                <div class="text-center">
                    <img class="mb-5" src="{% static 'salary/img/logo.png' %}" alt="" height="40">
                    <h1 class="mb-5 text-success"><i class="fa-solid fa-envelope-circle-check fa-xl"></i></h1>
                    <div class="mb-5">
                        {{ first_name }}, благодарим за подтверждение адреса электронной почты.<br>
                        Ваша учетная запись успешно активировна. Можете переходить к процессу авторизации.
                    </div>
                    <div>
                        <a href="{% url 'index' %}" class="btn btn-primary btn-lg verysmall">
                            <i class="fa-solid fa-house"></i>&nbsp;На главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}