{% extends 'salary/dashboard.html' %}
{% load humanize %}

{% block data %}
<hr>
<div class="row justify-content-center">
  <div class="col-md-3 border rounded m-1">
    <div class="row justify-content-center row-cols-1">
      <div class="col text-center m-1">
        {% if image_file_exists %}
        <img src="{{ request.user.profile.photo.url }}" alt="" class="rounded-circle" style="width: 6em; height: 6em;">
        {% else %}
        <i class="fa-solid fa-circle-user fa-2x"></i>
        {% endif %}
      </div>
      <div class="col text-center">
        <b>{{ user.get_full_name }}</b>
        <hr>
      </div>
      <div class="col verysmall">
        Авторизация: {{ user.last_login|default:"нет данных" }}<br>
        Email: <span class="text-success">{{ user.email }}</span><br>
        Стаж работы: {{ user.profile.get_experience_text }} <br>
        <hr>
        <p class="text-center">«Успех — это путь от неудачи к неудаче без потери энтузиазма»</p>
        <p class="text-end"><i>Уинстон Черчилль</i></p>
      </div>
    </div>
  </div>
  <div class="col-md-6 m-1">
    <div class="row row-cols-1">
        <div class="col text-center bg-secondary bg-gradient rounded">
          <h5><i>20 марта 2022 г., среда </i></h5>
        </div>
          <div class="col border rounded">
            <h6 class="text-center text-primary mt-1"><i class="fa-solid fa-calendar-check"></i> Смены</h6>
            <ul>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> хотят чтобы их проверили.
                </a>
              </li>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> в ожидании что ее (их) исправят.
                </a>
              </li>
            </ul>
          </div>
          <div class="col border rounded">
            <h6 class="text-center text-success mt-1"><i class="fa-solid fa-users"></i> Сотрудники</h6>
            <ul>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> желает зарегистрироваться.
                </a>
              </li>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> что-то пошло не так.
                </a>
              </li>
            </ul>
          </div>
          <div class="col border rounded">
            <h6 class="text-center text-danger mt-1"><i class="fa-solid fa-graduation-cap"></i> Нарушения</h6>
            <ul>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">3</span> никак не принесут объяснения.
                </a>
              </li>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> с этим тоже разобраться желательно.
                </a>
              </li>
            </ul>
          </div>
          <div class="col border rounded">
            <h6 class="text-center text-danger mt-1"><i class="fa-solid fa-sack-xmark"></i> Недостачи</h6>
            <ul>
              <li>
                <a href="" class="link-light not-underlined">
                   <span class="badge bg-secondary">1</span> недостачу подвезли, надо бы разобраться.
                </a>
              </li>
            </ul>
          </div>
          <div class="col border rounded">
            <h6 class="text-center text-info mt-1"><i class="fa-regular fa-envelope"></i> Сообщения</h6>
            <ul>
              <li>
                <a href="" class="link-light not-underlined">
                  <span class="badge bg-secondary">1</span> еще кто-то прислал сообщения и хотел бы, чтобы Вы прочли.
                </a>
              </li>
            </ul>
          </div>
    </div>
  </div>
</div>
{% endblock %}