{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row mt-2">
    <div class="col text-center">
      <h4>{{ intruder.get_full_name }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-auto border-bottom border-top ps-0">
    {% if object_list %}
      <ul class="list-group">
        {% for misconduct in object_list %} 
        <li class="list-group-item list-group-item-action 
        {% if misconduct.status == 'AD' %}
          list-group-item-danger
        {% elif misconduct.status == 'WT' %}
          list-group-item-warning
        {% elif misconduct.status == 'CL' %}
          list-group-item-success
        {% endif %}
        m-2 rounded">
          <div class="d-flex w-100 justify-content-between">
            <small class="mb-1">{{ misconduct.misconduct_date}}</small>
            <span class="verysmall">
              {% if misconduct.status == 'AD' %}
              <i class="fa-solid fa-file-circle-question fa-fade" style="color: coral;"></i> Ожидает объяснение
              {% elif misconduct.status == 'WT' %}
              <i class="fa-regular fa-clock fa-fade"></i> На рассмотрении
              {% elif misconduct.status == 'CL' %}
              <i class="fa-solid fa-clipboard-check" style="color: green;"></i> Решение принято
              {% endif %}
            </span>
            {% if perms.salary.change_misconduct and perms.salary.delete_misconduct %}
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle clear-after-toggle pb-0 pt-0 mb-1" type="button" id="dropdownMenuActions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-secondary dropdown-menu-end" aria-labelledby="dropdownMenuActions">
                <li>
                  <a class="dropdown-item verysmall" href="{% url 'edit_misconduct' pk=misconduct.pk %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-pen"></i>&nbsp;Редактировать
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item verysmall text-danger" href="{% url 'delete_misconduct' pk=misconduct.pk %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-minus"></i>&nbsp;Удалить
                  </a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
          <hr class="m-0">
          <div class="text-justify">
            <small>
              <b>Нарушен п. {{ misconduct.regulations_article.article }} 
              <a href="https://drive.google.com/file/d/1d_wiCKQi9yC1eT4aKvm2mMLqdeq65XgJ/view?usp=sharing" class="link-dark">Регламента</a></b>
            </small>
            <br>
            <span class="verysmall text-justify">{{ misconduct.regulations_article.title }}</span>
          </div>
          <hr class="m-0">
          <div class="d-flex w-100 justify-content-between">
            <small><b>
              {% if misconduct.penalty %}
              {{ misconduct.penalty | intcomma }} руб.
              {% else %}
              Предупреждение
              {% endif %}
            </b></small>
            <a class="btn btn-outline-primary verysmall mt-1 pt-0 pb-0" href="{{ misconduct.get_absolute_url }}">Подробно</a>
          </div>
        </li>
        {% endfor %}
      </ul>
      <p class="text-center verysmall">
      Сумма штрафов по нарушениям: <b>{{ penalty_sum }} руб.</b>
      </p>
      {% else %}
      <h6 class="text-success text-center">Нарушений нет.</h5>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      {% if request.GET.next %}
      <a class="btn btn-outline-secondary verysmall mt-1" href="{{ request.GET.next }}">Назад</a>
      {% elif perms.salary.change_misconduct and perms.salary.delete_misconduct %}
      <a class="btn btn-outline-secondary verysmall mt-1" href="{% url 'misconducts_view' %}">К списку нарушенителей</a>
      {% else %}
      <a class="btn btn-outline-secondary verysmall mt-1" href="/">Назад</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}