{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
<main>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    // Loading variables from django
    var linechart_data = JSON.parse("{{ linechart_data }}");
    var piechart_data = {{ piechart_data|safe }};
    var current_month_title = '{{ current_month_date|date:"F Y г." }}'
    var previous_month_title = '{{ previous_month_date|date:"F Y г." }}'

    google.charts.load('current', {'packages':['corechart']});
    // Init Callback's
    google.charts.setOnLoadCallback(revenuesLineChart);
    google.charts.setOnLoadCallback(currentMonthPieChart);
    // Draw functions
    function revenuesLineChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('number', 'Day of Month');
      data.addColumn('number', previous_month_title);
      data.addColumn('number', current_month_title);
      data.addRows(linechart_data);

      var options = {
        title: 'Динамика ежедневной выручки',
        titleTextStyle: {
          color: '#fff'
        },
        backgroundColor: '#3e4444',
        hAxis: {
          textStyle: {
            color: '#fff',
            bold: true
          },
          minValue: 1
        },
        vAxis: {
          title: 'Выручка',
          textStyle: {
            color: '#fff',
            bold: true
          },
          titleTextStyle: {
            color: '#feb236'
          }
        },
        curveType: 'function',
        legend: { 
          position: 'bottom',
          textStyle: {
            color: '#fff'
          }
        },
        colors: ['#684ff7', '#04ff00'],
      };

      var chart = new google.visualization.LineChart(document.getElementById('revenues_linechart_div'));
      chart.draw(data, options);
    }

    var width = window.innerWidth;
    var chart_width
    if(width > 1280) {
      chart_width = 720
    }
    else if(width < 720) {
      chart_width = width
    }

    function currentMonthPieChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Category');
      data.addColumn('number', 'Values');
      data.addRows(piechart_data);

      var options = {
        title:'Распределение выручки по категориям',
        width: chart_width,
        height:300,
        titleTextStyle: {
          color: '#fff'
        },
        backgroundColor: '#3e4444',
        is3D: 'true',
        legend: { 
          textStyle: {
            position: 'bottom',
            color: '#fff'
          }
        },
      };

      var chart = new google.visualization.PieChart(document.getElementById('currentmonth_piechart_div'));
      chart.draw(data, options);
    }
  </script>
  <div class="container">
    <div class="row mt-1">
      <div class="col">
        <p class="text-center">Аналитический отчет за {{ current_month_date|date:"F Y г." }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <button class="btn btn-outline-secondary verysmall" onclick="history.back()">Назад</button>
      </div>
    </div>
    <div class="row mb-2 row-cols-md-2 row-cols-sm-1 m-1 justify-content-center">
      <div class="col-md-5 col-sm-12 m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Аналитика по выручке</p>
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Показатель</th>
              <th>{{ previous_month_date|date:"F" }}</th>
              <th>{{ current_month_date|date:"F" }}</th>
              <th>Анализ</th>
            </tr>
          </thead>
          <tbody class="verysmall text-center">
            <tr>
              <td>Общая выручка</td>
              <td>{{ analytic.summary_revenue__sum.0 | intcomma }}</td>
              <td>{{ analytic.summary_revenue__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.summary_revenue__sum.0 < analytic.summary_revenue__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.summary_revenue__sum.2 }}%</span>
                {% elif analytic.summary_revenue__sum.0 > analytic.summary_revenue__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.summary_revenue__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Средняя выручка</td>
              <td>{{ analytic.summary_revenue__avg.0 | intcomma }}</td>
              <td>{{ analytic.summary_revenue__avg.1 | intcomma }}</td>
              <td>
                {% if analytic.summary_revenue__avg.0 < analytic.summary_revenue__avg.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.summary_revenue__avg.2 }}%</span>
                {% elif analytic.summary_revenue__avg.0 > analytic.summary_revenue__avg.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.summary_revenue__avg.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <th colspan="4">Пиковые показатели</th>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td>Макс. выручка</td>
              <td>{{ max_revenue_workshift.shift_date | date:"d.m.Y" }}<br>({{ max_revenue_workshift.shift_date | date:"l" }})</td>
              <td>{{ max_revenue_workshift.summary_revenue | intcomma }}</td>
              <td>
                {{ max_revenue_workshift.hall_admin.get_full_name }}<br>
                {{ max_revenue_workshift.cash_admin.get_full_name }}
              </td>
            </tr>
            <tr>
              <td>Мин. выручка</td>
              <td>{{ min_revenue_workshift.shift_date | date:"d.m.Y" }}<br>({{ min_revenue_workshift.shift_date | date:"l" }})</td>
              <td>{{ min_revenue_workshift.summary_revenue | intcomma }}</td>
              <td>
                {{ min_revenue_workshift.hall_admin.get_full_name }}<br>
                {{ min_revenue_workshift.cash_admin.get_full_name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md col-sm-12 m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Основные показатели выручки</p>
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Категория</th>
              <th>{{ previous_month_date|date:"F" }}</th>
              <th>{{ current_month_date|date:"F" }}</th>
              <th>Анализ</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td class="text-warning">Бар</td>
              <td>{{ analytic.bar_revenue__sum.0 | intcomma }}</td>
              <td>{{ analytic.bar_revenue__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.bar_revenue__sum.0 < analytic.bar_revenue__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.bar_revenue__sum.2 }}%</span>
                {% elif analytic.bar_revenue__sum.0 > analytic.bar_revenue__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.bar_revenue__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-warning">Game Zone (КНА)</td>
              <td>{{ analytic.game_zone_subtotal__sum.0 | intcomma }}</td>
              <td>{{ analytic.game_zone_subtotal__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.game_zone_subtotal__sum.0 < analytic.game_zone_subtotal__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.game_zone_subtotal__sum.2 }}%</span>
                {% elif analytic.game_zone_subtotal__sum.0 > analytic.game_zone_subtotal__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.game_zone_subtotal__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-warning">Доп. услуги</td>
              <td>{{ analytic.vr_revenue__sum.0 | intcomma }}</td>
              <td>{{ analytic.vr_revenue__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.vr_revenue__sum.0 < analytic.vr_revenue__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.vr_revenue__sum.2 }}%</span>
                {% elif analytic.vr_revenue__sum.0 > analytic.vr_revenue__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.vr_revenue__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-warning">Кальян</td>
              <td>{{ analytic.hookah_revenue__sum.0 | intcomma }}</td>
              <td>{{ analytic.hookah_revenue__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.hookah_revenue__sum.0 < analytic.hookah_revenue__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.hookah_revenue__sum.2 }}%</span>
                {% elif analytic.hookah_revenue__sum.0 > analytic.hookah_revenue__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.hookah_revenue__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
          </tbody>
          <tfoot class="text-center verysmall">
            <tr>
              <td class="text-danger">Недостачи</td>
              <td>{{ analytic.shortage__sum.0 | intcomma }}</td>
              <td>{{ analytic.shortage__sum.1 | intcomma }}</td>
              <td>
                {% if analytic.shortage__sum.0 < analytic.shortage__sum.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.shortage__sum.2 }}%</span>
                {% elif analytic.shortage__sum.0 > analytic.shortage__sum.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.shortage__sum.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="row row-cols-md-2 row-cols-sm-1 justify-content-center m-2">
      <div class="col-md-12 col-sm-12 rounded border border-light text-center">
        <div id="carouselChartControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div id="revenues_linechart_div" class="chart_div"></div>
            </div>
            <div class="carousel-item">
              <div id="currentmonth_piechart_div" class="chart_div"></div>
            </div>
          </div>
          <script>
            var styled_linechart = document.getElementById('revenues_linechart_div');
            var styled_piechart = document.getElementById('currentmonth_piechart_div');
            styled_linechart.setAttribute('style', 'width: ' + chart_width + 'px;');
            styled_piechart.setAttribute('style', 'width: ' + chart_width + 'px;');
          </script>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselChartControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselChartControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}