{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col m-2 text-center border rounded shadow-sm">
      <h5>Документы о трудоустройстве сотрудника <br>{{ employee.get_full_name }}</h5>
      <hr>
      <div class="row">
        {% if files_list %}
        <div class="col m-2 border rounded">
          <p class="verysmall">Список документов:</p>
          <ul class="list-group m-1">
            {% for file in files_list %}
            <a href="#" class="list-group-item list-group-item-dark pt-0 pb-0 verysmall" id="{{ file }}">{{ file }}</a>
            {% endfor %}
          </ul>
        </div>
        <div class="col m-2 border rounded">
          <p class="verysmall">Preview</p>
          <div id="image-block"></div>
        </div>
        <script>
          function imageView(imageName) {
            var imageBlock = document.getElementById('image-block');
            imageBlock.innerHTML = '';
            var imgAttrs = {
              'src': imageName,
              'height': '100px',
              'wight': '200px',
              'class': 'mb-2',
            }
            var image = document.createElement('img');
            for (attr in imgAttrs) {
              image.setAttribute(attr, imgAttrs[attr]);
            };
            var linkImage = document.createElement('a');
            linkImage.href = imageName;
            linkImage.appendChild(image)
            imageBlock.appendChild(linkImage);
          };
          for (let link of document.getElementsByClassName('list-group-item')) {
            link.onclick = function () { 
              imageView(link.text);
              let class_attr = link.getAttribute('class');
              var actLinks = document.getElementsByClassName('list-group-item active');
              if (!link.getAttribute('class').match('active')) {
                for (let actLink of actLinks) {
                  let classAttr = actLink.getAttribute('class').replace('active', '');
                  actLink.setAttribute('class', classAttr);
                  actLink.removeAttribute('aria-current');
                };
                link.setAttribute('class', class_attr + ' active');
                link.ariaCurrent = true;
              };
            };
          };
        </script>
        {% else %}
        <div class="col">
          <p>Документы отсутствуют<br><a href="#" class="btn btn-secondary verysmall m-2"><i class="fa-solid fa-cloud-arrow-up"></i> Загрузить</a></p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}