{% extends 'salary/base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load humanize %}

{% block content %}
  <main>
    <div class="container">
      <div class="row mb-3 mt-3 d-flex justify-content-between">
        <!-- personal data -->
        <div class="col-md-3 themed-grid-col bg-secondary text-white rounded border">
          <!--avatar-->
          <div class="d-flex justify-content-center mt-3 mb-2 row">
            <div class="col-md-auto">
              {% bs_icon 'person-circle' size='120' %}
            </div>
          </div>
          <!--personal data text-->
          <div class="row">
            <div class="col-md">
              <p class="text-center">
              {{ user.first_name }} {{ user.last_name }}<br>
              {{ user.profile.position }}
              </p>
            </div>
            <div class="col-md-auto verysmall">
              <p class="mb-0">Дата рождения: {{ user.profile.birth_date }}</p>
              {% if user.profile.position.pk == 3 %}
              <p class="mb-0">
                <a class="link-warning" href="/admin/">Панель администрирования</a>
              </p>
              {% elif user.profile.attestation %}
              <p class="mb-0" style="color: greenyellow;">Аттестация пройдена {% bs_icon 'award' %}</p>
              {% else %}
              <a href="#" class="text-warning" title="Пройти аттестацию">Аттестация не пройдена</a>
              {% endif %}
              <p>Стаж работы: {{ experience }}</p>
            </div>
          </div>
        </div>
        <!-- End personal data -->
        <!-- Main data -->
        <div class="col-md-8 themed-grid-col rounded border">
          <div class="row">
            <div class="col-md">
              <p class="text-center">Основные показатели</p>
            </div>
          </div>
        
          <div class="row text-center">
            <!-- 1 block -->
            <div class="col-md rounded border m-3">
              <div class="row">
                <div class="col-md bg-primary border-bottom">
                  <p class="mb-0 verysmall">
                    {% bs_icon 'calendar-check' %}
                    <br>
                    Количество смен
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md p-4">
                  <p class="fs-4" style="font-style: normal;">{{ total_values.quantity_shifts }}</p>
                </div>
              </div>
            </div>
            <!-- 2 block -->
            <div class="col-md rounded border m-3">
              <div class="row">
                <div class="col-md bg-primary border-bottom">
                  <p class="mb-0 verysmall">
                    {% bs_icon 'graph-up-arrow'  %}
                    <br>
                    Средняя выручка
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md p-4">
                  <p class="fs-4" style="font-style: normal;">{{ total_values.average_revenue | intcomma }}</p>
                </div>
              </div>
            </div>
            <!-- 3 block -->
            <div class="col-md rounded border m-3">
              <div class="row">
                <div class="col-md bg-primary border-bottom">
                  <p class="mb-0 verysmall">
                    {% bs_icon 'cash-stack' %}
                    <br>
                    Заработано
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md p-4"><p class="fs-4" style="font-style: normal;">{{ total_values.total_salary | intcomma }}</p></div>
              </div>
            </div>
            <!-- 4 block -->
            <div class="col-md rounded border m-3">
              <div class="row">
                <div class="col-md bg-primary border-bottom">
                  <p class="mb-0 verysmall">
                    {% bs_icon 'bar-chart' %}
                    <br>
                    Ваше место
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-md p-4"><p class="fs-4" style="font-style: normal;">-</p></div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              {% if user.profile.position.pk == 2 and not shift_exists %}
              <p class="text-center">
                <a class="btn btn-sm btn-outline-secondary" href="{% url 'add_workshift' %}">
                  {% bs_icon 'calendar-plus' %}Закрыть текущую смену
                </a>
              </p>
              {% elif user.profile.position.pk == 2 %}
              <p class="text-secondary verysmall text-center">Текущая смена успешно закрыта.</p>
              {% endif %}
            </div>
          </div>

        </div>
        <!-- End main data -->
      </div>
      <!--table-->
      {% if user.profile.position.pk <= 2 %}
        {% include 'salary/table_workshits.html' %}
      {% endif %}
    </div>
  </main>

{% endblock %}