{% extends 'salary/base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
      <div class="row mb-3 mt-3 d-flex justify-content-between">
        <!-- personal data -->
        <div class="col-md-3 themed-grid-col bg-secondary text-white rounded border">
          <!--avatar-->
          <div class="d-flex justify-content-center mt-3 mb-2 row">
            <div class="col-md-auto">
              {% bs_icon 'person-circle' size='120' %}
            </div>
          </div>
          <!--personal data text-->
          <div class="row">
            <div class="col-md">
              <p class="text-center">
              {{ user.first_name }} {{ user.last_name }}<br>
              {{ user.profile.position }}
              </p>
            </div>
            <div class="col-md-auto verysmall">
              <p class="mb-0">Дата рождения: {{ user.profile.birth_date }}</p>
              {% if user.profile.position.pk == 3 %}
              <p class="mb-0">
                <a class="link-warning" href="/admin/">Панель администрирования</a>
              </p>
              {% elif user.profile.attestation %}
              <p class="mb-0" style="color: greenyellow;">Аттестация пройдена {% bs_icon 'award' %}</p>
              {% else %}
              <a href="#" class="text-warning" title="Пройти аттестацию">Аттестация не пройдена</a>
              {% endif %}
              <p>Стаж работы: {{ experience }}</p>
            </div>
          </div>
        </div>
        <!-- End personal data -->
      {% if user.profile.position.pk <= 2 %}
        {% include 'salary/main_indicators.html' %}
      {% else %}
        {% show_users %}
      {% endif %}
      </div>
      <!--table-->
      {% if user.profile.position.pk <= 2 %}
        {% include 'salary/table_workshits.html' %}
      {% endif %}
    </div>
  </main>

{% endblock %}