{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
      <div class="row m-3">
        <div class="col mb-3">
          <div class="row row-cols-sm-1 row-cols-md-3 g-2">
            <div class="col">
              <div class="card border-light blue-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-calendar4-week" style="font-size: 1.5rem;"></i></span>
                    Смены
                  </p>
                  <a href="{% url 'workshifts_view' %}" class="stretched-link"></a>
                </div>
                {% unverified_shift as unverified_shifts %}
                {% if unverified_shifts %}
                <div class="card-footer">
                  <p class="card-text text-light verysmall">Ожидает проверки: {{unverified_shifts}}</p>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="card border-light green-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-person-lines-fill" style="font-size: 1.5rem;"></i></span>
                    Сотрудники
                  </p>
                  <a href="{% url 'user_view' %}" class="stretched-link"></a>
                </div>
                {% inactive_user as inactive_users %}
                {% if inactive_users %}
                <div class="card-footer">
                  <p class="card-text text-light verysmall">Ожидает подтверждения: {{ inactive_users }}</p>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col">
              <div class="card border-light orange-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-clipboard-data" style="font-size: 1.5rem;"></i></span>
                    Отчеты
                  </p>
                  <a href="{% url 'reports_list' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-light blue-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-link-45deg" style="font-size: 1.5rem;"></i></span>
                    Публикации
                  </p>
                  <a href="{% url 'publications' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-light red-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-mortarboard" style="font-size: 1.5rem;"></i></span>
                    Дисциплина
                  </p>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card border-light blue-snippet text-light h-100" style="max-width: 17rem;">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="bi bi-mortarboard" style="font-size: 1.5rem;"></i></span>
                    Документы
                  </p>
                  <a href="#" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        {% block data %}
        {% endblock %}
      </div>
    </div>

  </main>

{% endblock %}