{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
      <div class="row m-3">
        <div class="col">
          <div class="row row-cols-md-3 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card blue-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-calendar-check fa-xl"></i></span>
                    Смены
                  </p>
                  <a href="{% url 'workshifts_view' %}" class="stretched-link"></a>
                </div>
                {% unverified_shift as unverified_shifts %}
                {% if unverified_shifts %}
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <span class="card-text text-light verysmall"><b><i>Ожидает проверки:</i></b></span><span class="badge bg-warning text-dark">{{ unverified_shifts }}</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card green-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-users fa-xl"></i></span>
                    Сотрудники
                  </p>
                  <a href="{% url 'user_view' %}" class="stretched-link"></a>
                </div>
                {% inactive_user as inactive_users %}
                {% if inactive_users %}
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <span class="card-text text-light verysmall"><b><i>Ожидает подтверждения:</i></b></span><span class="badge bg-warning text-dark">{{ inactive_users }}</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card red-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-graduation-cap fa-xl"></i></i></span>
                    Нарушения
                  </p>
                  <a href="{% url 'misconducts_view' %}" class="stretched-link"></a>
                </div>
                {% wait_explanation_misconducts as wait_explanation_misconducts %}
                {% wait_decision_misconducts as wait_decision_misconducts %}

                {% if wait_explanation_misconducts or wait_decision_misconducts %}
                <div class="card-footer d-flex justify-content-between align-items-center">
                  {% if wait_explanation_misconducts and wait_decision_misconducts %}
                  <span class="card-text text-light verysmall"><b><i>Ожидает объяснение/решение:</i></b></span>
                  <span class="badge bg-warning text-dark">{{ wait_explanation_misconducts }} / {{ wait_decision_misconducts }}</span>
                  {% elif wait_explanation_misconducts %}
                  <span class="card-text text-light verysmall"><b><i>Ожидает объяснение:</i></b></span>
                  <span class="badge bg-warning text-dark">{{ wait_explanation_misconducts }}</span>
                  {% elif wait_decision_misconducts %}
                  <span class="card-text text-light verysmall"><b><i>Ожидает решение:</i></b></span>
                  <span class="badge bg-warning text-dark">{{ wait_decision_misconducts }}</span>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row row-cols-md-3 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card blue-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-book fa-xl"></i></span>
                    Документы
                  </p>
                  <a href="{% url 'employee_documents' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card green-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-chart-line fa-2xl"></i></span>
                    Аналитика
                  </p>
                  <a href="{% url 'analytics_reports' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card orange-snippet text-light h-100">
                <div class="card-body">
                  <p class="card-text fst-italic">
                    <span class="me-2"><i class="fa-solid fa-chart-column fa-xl"></i></span>
                    Отчеты
                  </p>
                  <a href="{% url 'reports_list' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        {% block data %}
        {% endblock %}
      </div>
    </div>

  </main>

{% endblock %}