{% extends 'salary/dashboard.html' %}

{% block data %}
<div class="row justify-content-center border-top">
  <div class="col-md-6 col-sm-auto m-3 mb-0">
    <div class="list-group">
      {% for intruder in object_list %}
      {% if intruder.wait_count %}
      <a href="{% url 'misconducts_user_view' username=intruder.employee.username %}?next={{ request.path }}" class="list-group-item list-group-item-action list-group-item-warning" data-bs-toggle="tooltip" data-bs-placement="right" title="Ожидает объясенение: {{ intruder.wait_count }}">
        <div class="d-flex justify-content-between align-items-center">
          <div><span class="verysmall"><i class="fa-solid fa-file-circle-exclamation fa-fade"></i> {{ intruder.employee.get_full_name }}</span></div>
          <div><span class="badge bg-danger rounded-pill">{{ intruder.wait_count }} / {{ intruder.total_count }}</span></div>
        </div>
      </a>
      {% else %}
      <a href="{% url 'misconducts_user_view' username=intruder.employee.username %}?next={{ request.path }}" class="list-group-item list-group-item-action list-group-item-secondary">
        <div class="d-flex justify-content-between align-items-center">
          <div><span class="verysmall"><i class="fa-solid fa-clipboard-check"></i> {{ intruder.employee.get_full_name }}</span></div>
          <div><span class="badge bg-secondary rounded-pill">{{ intruder.total_count }}</span></div>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% if only_actived %}
<div class="row text-center">
  <div class="col"><a href="{% url 'misconducts_view' %}?show=all" class="link_secondary verysmall">Показать всех</a></div>
</div>
{% endif %}
<div class="row mt-3">
  <div class="col text-center">
    <a href="{% url 'add_misconduct' %}?next={{ request.path }}" class="btn btn-primary verysmall">
      <i class="bi bi-plus-circle"></i>&nbsp;Добавить нарушение
    </a>
  </div>
</div>
{% endblock %}