{% extends 'salary/base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% load salary_tags %}

{% block body %}
<body class="bg-dark text-white font-italic">
  <header>
    <div class="container">
      <nav class="navbar navbar-light bg-dark border-bottom">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{% static 'salary/img/esports_eng-logo.png' %}" height="30" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
          {% if request.user.is_superuser %}
          <div class="col">
            <a href="{% url 'admin:index' %}" class="link-primary verysmall">Панель администрирования</a>
          </div>
          {% endif %}
          {% if request.user.is_authenticated %}
          <div class="border-left border-secondary">
            {% if request.user.profile.photo %}
              <img src="{{ request.user.profile.photo.url }}" alt="" class="rounded-circle" style="width: 40px; height: 40px;">
            {% else %}
              {% bs_icon 'person-circle' size='40' %}
            {% endif %}
            <span class="text-light verysmall m-2">{{request.user.get_full_name}}</span>
            <a href="{% url 'index' %}" class="btn btn-sm btn-outline-success">{% bs_icon 'gear' %}</a>
            <a href="{% url 'logout' %}" class="btn btn-sm btn-outline-secondary">{% bs_icon 'door-open-fill' %}</a>
          </div>
          {% endif %}
        </div>
      </nav>
    </div>
  </header>

{% block content %}
{% endblock %}

  <footer>
    <div class="container position-relative bottom-0">
      <div class="row mt-3">
        <div class="col-md-12 border-top">
          <p class="text-secondary text-center verysmall">© ESPORTS.TATAR {% get_year %}</p>
        </div>
      </div>
    </div>
  </footer>

{% endblock %}