{% extends 'salary/logined_page.html' %}
{% load crispy_forms_tags %}

{% block content %}
<main>
  <div class="container">
      <div class="row justify-content-center mt-3">
          <div class="col-md-6 border rounded">
              <form class="needs-validation" method="post">
                <p class="text-center">Протокол дисциплинарного проступка</p>
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {{ form|crispy }}
                <div class="m-6 d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary mb-4">Добавить</button>
                  <div class="ms-3">
                    <a class="btn btn-outline-secondary" onclick="history.back()">Отмена</a>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
{% block javascript %}
<script>
  function getMisconductDataJS(selected_article) {
    let request = new XMLHttpRequest();
    request.open('POST', '{% url "load_regulation_data" %}', true);
    request.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    request.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    request.onload = function() {
      if (this.status >= 200 && this.status < 400) {
        var responseData = JSON.parse(this.response);
        document.getElementById('id_penalty').value = responseData['penalty'];
        var container = document.getElementById('id_sanction');
        if (!container) {
          container = document.createElement('div');
          container.classList.add('alert', 'alert-warning', 'mt-2', 'verysmall');
          container.role = 'alert';
          container.id = 'id_sanction';
          document.getElementById('id_regulations_article').after(container);
        };
        container.innerHTML = responseData['article_number'] + '. ' + responseData['title'] + '.<br><br>Санкция: ' + responseData['sanction'] + '.';
        document.getElementById('id_comment').value = 'Нарушен пункт ' + responseData['article_number'] + '. (' + responseData['title'] + ')';
      } else {
        console.log('ERR: We reached our target server, but it returned an error.')
      };
    };

      request.onerror = function() { console.log('ERR: Connection error.') };
      request.send('regulations_article=' + selected_article);
  };

    var requestArticle = document.getElementById('id_regulations_article').value;
    getMisconductDataJS(requestArticle);

    document.getElementById('id_regulations_article').onchange = function () { 
      getMisconductDataJS(this.value); 
    };
</script>
{% endblock %}
</main>
{% endblock %}