{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
<main>
  <div class="container">
    <div class="row mt-1">
      <div class="col">
        <p class="text-center">Аналитический отчет за {{ current_month_date|date:"F Y г." }}</p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <button class="btn btn-outline-secondary verysmall" onclick="history.back()">Назад</button>
      </div>
    </div>
    <div class="row mb-2 row-cols-md-2 row-cols-sm-1 m-1 justify-content-center">
      <div class="col-md-5 col-sm-auto m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Аналитика по выручке</p>
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Показатель</th>
              <th>{{ current_month_date|date:"F" }}</th>
              <th>{{ previous_month_date|date:"F" }}</th>
              <th>Анализ</th>
            </tr>
          </thead>
          <tbody class="verysmall text-center">
            <tr>
              <td>Общая выручка</td>
              <td>{{ analytic.summary_revenue.0 }}</td>
              <td>{{ analytic.summary_revenue.1 }}</td>
              <td>
                {% if analytic.summary_revenue.0 > analytic.summary_revenue.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.summary_revenue.2 }}%</span>
                {% elif analytic.summary_revenue.0 < analytic.summary_revenue.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.summary_revenue.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Средняя выручка</td>
              <td>{{ analytic.summary_revenue__avg.0 }}</td>
              <td>{{ analytic.summary_revenue__avg.1 }}</td>
              <td>
                {% if analytic.summary_revenue__avg.0 > analytic.summary_revenue__avg.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.summary_revenue__avg.2 }}%</span>
                {% elif analytic.summary_revenue__avg.0 < analytic.summary_revenue__avg.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.summary_revenue__avg.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Макс. выручка <span class="badge bg-secondary"><i class="fa-solid fa-person-circle-question"></i></span></td>
              <td>{{ current_month_stat.summary_revenue__max }}</td>
              <td colspan="2">%дата%</td>
            </tr>
            <tr>
              <td>Мин. выручка  <span class="badge bg-secondary"><i class="fa-solid fa-person-circle-question"></i></span></td>
              <td>{{ current_month_stat.summary_revenue__min }}</td>
              <td colspan="2">%дата%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6 col-sm-auto m-2 table-responsive rounded border border-light">
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr><th>Динамика выручки</th></tr>
          </thead>
          <tbody class="verysmall text-center">
            <tr>
              <td>Plot && Bar</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row row-cols-md-2 row-cols-sm-1 justify-content-center m-1">
      <div class="col-md-6 col-sm-12 m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Основные показатели выручки</p>
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Категория</th>
              <th>{{ current_month_date|date:"F" }}</th>
              <th>{{ previous_month_date|date:"F" }}</th>
              <th>Анализ</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td class="text-warning">Бар</td>
              <td>{{ analytic.bar_revenue.0 }}</td>
              <td>{{ analytic.bar_revenue.1 }}</td>
              <td>
                {% if analytic.bar_revenue.0 > analytic.bar_revenue.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.bar_revenue.2 }}%</span>
                {% elif analytic.bar_revenue.0 < analytic.bar_revenue.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.bar_revenue.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="text-warning">Game Zone (КНА)</td>
              <td>{{ analytic.game_zone_revenue.0 }}</td>
              <td>{{ analytic.game_zone_revenue.1 }}</td>
              <td>
                {% if analytic.game_zone_revenue.0 > analytic.game_zone_revenue.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.game_zone_revenue.2 }}%</span>
                {% elif analytic.game_zone_revenue.0 < analytic.game_zone_revenue.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.game_zone_revenue.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
              </tr>
            <tr><td class="text-warning">Ошибки</td><td>%цифра%</td><td></td><td></td></tr>
            <tr>
              <td class="text-warning">Доп. услуги</td>
              <td>{{ analytic.vr_revenue.0 }}</td>
              <td>{{ analytic.vr_revenue.1 }}</td>
              <td>
                {% if analytic.vr_revenue.0 > analytic.vr_revenue.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.vr_revenue.2 }}%</span>
                {% elif analytic.vr_revenue.0 < analytic.vr_revenue.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.vr_revenue.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
              </tr>
            <tr>
              <td class="text-warning">Кальян</td>
              <td>{{ analytic.hookah_revenue.0 }}</td>
              <td>{{ analytic.hookah_revenue.1 }}</td>
              <td>
                {% if analytic.hookah_revenue.0 > analytic.hookah_revenue.1 %}
                <span class="text-acid"><i class="fa-solid fa-arrow-trend-up"></i> рост на {{ analytic.hookah_revenue.2 }}%</span>
                {% elif analytic.hookah_revenue.0 < analytic.hookah_revenue.1 %}
                <span class="text-danger"><i class="fa-solid fa-arrow-trend-down"></i> снижение на {{ analytic.hookah_revenue.2 }}%</span>
                {% else %}
                -
                {% endif %}
              </td>
              </tr>
          </tbody>
          <tfoot class="text-center verysmall">
            <tr><td class="text-danger">Недостачи</td><td>%цифра%</td><td>-</td><td></td></tr>
          </tfoot>
        </table>
      </div>
      <div class="col-md-5 col-sm-12 m-2 table-responsive rounded border border-light"></div>
    </div>
    <div class="row m-1 justify-content-center">
      <div class="col-md col-sm-12 m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Аналитика по сотрудникам</p>
        <table class="table table-dark">
          <thead class="text-center text-warning verysmall">
            <tr>
              <th>Категория</th>
              <th>Наилучший показатель</th>
              <th>Минимальный покаатель</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td class="text-warning">Администратор зала</td><td>Лучший%%</td><td>Худший%%</td>
            </tr>
            <tr>
              <td class="text-warning">Администратор кассы</td><td>%%</td><td>%%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md col-sm-12 m-2 table-responsive rounded border border-light">
        <p class="text-orange text-center fw-bold">Аналитика по штрафам</p>
        <table class="table table-dark">
          <thead class="text-center text-warning verysmall">
            <tr>
              <th>Категория</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td class="text-warning">Штрафы</td><td>Количество</td><td>рост/падение</td>
            </tr>
            <tr>
              <td class="text-warning">Нарушители</td><td>Наибольший</td><td>Наименьший</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}