{% extends 'salary/logined_page.html' %}
{% load salary_tags %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <p class="text-center">Авансовый отчет за {{ current_date|date:"F" }}</p>
    <table class="table table-dark table-hover">
      <thead class="text-warning text-center verysmall">
        <tr>
          <th>Сотрудник</th>
          <th>Количество смен</th>
          <th>Сумма начислений</th>
          <th>Дисц. штрафы</th>
          <th>Недостачи*</th>
          <th>К выдаче</th>
        </tr>
      </thead>
      <tbody class="text-center verysmall">
        {% for employee in employee_list %}
        {% return_key users employee.0 as need_user %}
        <tr>
          {% for value in employee %}
          <td>
            <a href="{% url 'staff_user_view' request_user=need_user year=current_date.year month=current_date.month %}" class="link-light">
            {{ value|default:"-" }}
            </a>
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <p class="text-secondary verysmall">*Недостача не вычитается. </p>
    <p class="text-warning verysmall">Примечание: Отображаются только проверенные смены.</p>
    <a href="{% url 'reports_list' %}" class="link-primary text-center">Вернуться к списку отчетов</a>
  </div>
  </div>
</main>
{% endblock %}