{% extends 'salary/dashboard.html' %}
{% load static %}
{% block data %}
<div class="row border-top">
  <div class="col text-center table-responsive">
    <table class="table table-dark table-hover">
      <thead class="text-warning text-center verysmall">
        <tr>
          <th>Ежемесячные отчеты</th>
        </tr>
      </thead>
      <tbody class="text-center verysmall">
        {% for date_range in object_list %} 
        <tr>
          <td>
            <a href="{% url 'monthly_report' year=date_range.year month=date_range.month %}" class="link-primary">{{ date_range|date:"F Y г." }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}