{% extends 'salary/dashboard.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block data %}
<div class="row row-cols-sm-1 row-cols-md-4 g-2 border-top">
    {% for current_user in object_list %}
    <div class="col">
      <div class="card border-light bg-dark text-light h-100" style="max-width: 17rem;">
        <div class="card-header text-center bg-black-50">
          {% if current_user.profile.photo %}
            <img src="{{ current_user.profile.photo.url }}" alt="" class="rounded-circle" style="width: 75px; height: 75px;">
          {% else %}
            {% bs_icon 'person-circle' size='75' %}
          {% endif %}
          <br>{{ current_user.get_full_name }}<br>
          <span class="text-muted verysmall" style="font-size: x-small;">Был(а) {{ current_user.profile.get_last_login|default:"давно" }}</span>
        </div>
        <div class="card-body">
          <p class="card-text fst-italic">
              {% if current_user.profile.dismiss_date %}
                <span class="text-danger verysmall">Уволен {{ current_user.profile.dismiss_date }}</span>
              {% elif not current_user.is_active %}
                <span class="text-warning verysmall">Ожидает активации</span>
              {% else %}
                {{ current_user.profile.position }}
              {% endif %}
          </p>
          <p class="card-text verysmall">
            Email: <a href="mailto:{{ current_user.email }}">{{ current_user.email }}</a> <br>
            Дата рождения: {{ current_user.profile.birth_date }} <br>
            Дата трудоустройства: {{ current_user.profile.employment_date|date:"d.m.Y" }} <br>
            Стаж работы: {{ current_user.profile.get_work_experience }} <br>
            Аттестация: 
            {% if current_user.profile.attestation_date %} 
            <span class="text-success">{{ current_user.profile.attestation_date }}</span> 
            {% else %}
            <span class="text-warning">Не пройдена</span> 
            {% endif %}
          </p>
        </div>
        <div class="card-footer text-center">
          {% if not current_user.is_active %}
          <a href="#" class="btn btn-sm btn-outline-secondary">{% bs_icon 'check-circle' %}Активировать</a>
          {% else %}
          <a href="{% url 'staff_user_edit' current_user.profile.pk %}" class="btn btn-sm btn-outline-secondary">{% bs_icon 'pencil-square' %}Изменить</a>
          <a href="#" class="btn btn-sm btn-outline-secondary">{% bs_icon 'x-circle' %}Уволить</a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}