{% extends 'salary/logined_page.html' %}
{% load bootstrap_icons %}
{% load salary_tags %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div><h3 class="text-center">{{ request_user.profile.get_name }}</h1></div>
    {% if  request_user.profile.position.name == 'cash_admin' %}
      {% cash_admin_workshifts user=request_user workshifts=workshifts total_values=total_values %}
    {% else %}
      {% hall_admin_workshifts user=request_user workshifts=workshifts total_values=total_values %}
    {% endif %}
  </div>
</main>
{% endblock %}