{% load bootstrap_icons %}
{% load salary_tags %}
{% load humanize %}
<div class="row verysmall text-center mb-2 border border-secondary">
  <div class="col">
    {% if previous_date %}
    <a href="{% url 'archive_view' year=previous_date.year month=previous_date.month %}" class="link-primary"> << {{ previous_date|date:"F Y г." }}</a>
    {% endif %}
  </div>
  <div class="col">{{ current_date|date:"F Y г." }}</div>
  <div class="col">
    {% if next_date %}
    <a href="{% url 'archive_view' year=next_date.year month=next_date.month %}" class="link-primary">{{ next_date|date:"F Y г." }} >></a>
    {% endif %}
  </div>
</div>
{% if  user.profile.position.name == 'cash_admin' %}
  {% cash_admin_workshifts user=user workshifts=workshifts total_values=total_values %}
{% else %}
  {% hall_admin_workshifts user=user workshifts=workshifts total_values=total_values %}
{% endif %}