{% extends 'salary/logined_page.html' %}
{% load salary_tags %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row mt-1">
      <div class="col">
        <p class="text-center">Смена<br>
        <b>{{ yesterday|date:"d.m.Y" }} - {{ work_shift.shift_date|date:"d.m.Y" }}</b>
        </p>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <a href="{{ request.GET.next|default:"/" }}" class="btn btn-secondary verysmall">Назад к списку смен</a>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-4 me-2 ms-2 rounded border border-light">
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Состояние</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>
                {% if work_shift.is_verified %}
                <i class="bi bi-check2-circle" style="color: green;"></i> Проверено 
                {% else %}
                <i class="bi bi-stopwatch-fill" style="color: yellow;"></i> Ожидает проверки
                {% endif %}
              </td>
            </tr>
            {% if work_shift.change_date and work_shift.editor %}
            <tr>
              <td class="verysmall">
                Изменен: {{ work_shift.change_date }} ({{ work_shift.editor }})
              </td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
      <div class="col ms-2 me-2 rounded border border-light">
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th>Комментарий</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>{{ work_shift.comment|default:"-" }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col m-2 rounded border border-light">
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th colspan="6">Основные показатели выручки</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr><td class="text-warning">Бар</td><td>{{work_shift.bar_revenue | intcomma}}</td></tr>
            <tr><td class="text-warning">Game Zone (КНА)</td><td>{{work_shift.game_zone_revenue | intcomma }}</td></tr>
            <tr><td class="text-warning">Ошибки</td><td>{{work_shift.game_zone_error}}</td></tr>
            <tr><td class="text-warning">Доп. услуги</td><td>{{work_shift.vr_revenue | intcomma}}</td></tr>
            <tr><td class="text-warning">Кальян</td><td>{{work_shift.hookah_revenue | intcomma}}</td></tr>
            <tr><td class="text-warning">Общая выручка</td><td>{{work_shift.get_summary_revenue | intcomma}}</td></tr>
          </tbody>
        </table>
      </div>
      <div class="col m-2 rounded border border-light">
        <table class="table table-dark">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th></th>
              <th>Администратор зала</th>
              <th>Администратор кассы</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td>Сотрудник</td>
              <td>{{ work_shift.hall_admin.get_full_name }}</td>
              <td>{{ work_shift.cash_admin.get_full_name }}</td>
            </tr>
            <tr>
              <td>Нарушения регламента</td>
              <td>{{ work_shift.hall_admin_penalty|default:"-" }}</td>
              <td>{{ work_shift.cash_admin_penalty|default:"-" }}</td>
            </tr>
            <tr>
              <td>Поддержание чистоты</td>
              <td colspan="2">
              {% if work_shift.hall_cleaning %}
              <i class="bi bi-check2-circle" style="color: green;"></i>
              {% else %}
              <i class="bi bi-x-circle" style="color: red;"></i>
              {% endif %}
              </td>
            </tr>
            <tr>
              <td>Недостача</td>
              <td colspan="2">{{ work_shift.shortage|default:"-" }}</td>
            </tr>
            <tr>
              <td>Публикация</td>
              <td colspan="2">
                {% if  work_shift.publication_link %}
                  <a href="{{ work_shift.publication_link }}" class="link-info">Ссылка указана</a>
                  {% if work_shift.publication_is_verified %}
                    <span class="text-success">(одобрена)</span>
                  {% else %}
                    <span class="text-warning">(не одобрена)</span>
                  {% endif %}
                {% else %}
                <span class="text-secondary">Отсутствует</span>
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-2">
      {% if request.user == work_shift.hall_admin or request.user.is_staff %}
        {% include 'salary/workshift_detail_admin.html' %}
      {% endif %}
      {% if request.user == work_shift.cash_admin or request.user.is_staff %}
        {% include 'salary/workshift_detail_cashier.html' %}
      {% endif %}
    </div>
    <div class="row text-center">
      {% if perms.salary.change_workingshift and perms.salary.delete_workingshift %}
      <div class="col">
        <a title="Внести изменения" class="btn btn-secondary verysmall" href="{% url 'staff_edit_workshift' work_shift.slug %}?next={{ request.path }}">
          <i class="bi bi-pencil-square" style="color: yellow;"></i>
          Внести изменения
        </a>
      </div>
      <div class="col">
        <a title="Удалить смену" class="btn btn-secondary verysmall" href="{% url 'delete_workshift' work_shift.slug %}">
          <i class="bi bi-x-square" style="color: red;"></i>
          Удалить смену
        </a>
      </div>
      {% elif not work_shift.is_verified and perms.salary.change_workingshift %}
      <div class="col">
        <a title="Внести изменения" class="btn btn-secondary verysmall" href="{% url 'edit_workshift' work_shift.slug %}?next={{ request.path }}">
          <i class="bi bi-pencil-square" style="color: yellow;"></i>
          Внести изменения
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}