{% extends 'salary/logined_page.html' %}

{% block content %}
<main>
    <div class="content">

    </div>
</main>
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 border rounded mt-3 me-1">
                <form method="post">
                    <p class="text-center">Удаление смены</p>
                    {% csrf_token %}
                    <p>Вы уверены что хотите удалить смену "{{ object }}"?</p>
                    {{ form }}
                    <div class="m-6 d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary mb-4 me-2">Удалить</button>
                        <button class="btn btn-outline-secondary verysmall" onclick="history.back()">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </main>
{% endblock %}