{% extends 'salary/logined_page.html' %}
{% load bootstrap_icons %}
{% load salary_tags %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row mb-2 mt-3">
      <div class="col">
        <p class="text-center">Смена за {{ object.shift_date }}</p>
      </div>
    </div>
    <div class="row mb-2 rounded border border-light">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th colspan="2">Статус проверки</th>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr>
              <td>Статус:</td>
              <td>
                {% if object.is_verified %}
                  {% bs_icon 'check2-circle' color='green' %} Проверено 
                {% else %}
                  {% bs_icon 'stopwatch-fill' color='yellow' %} Ожидает проверки
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Комментарий</td>
              <td>{{ object.comment }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-6">
        <table class="table table-dark table-hover">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th colspan="3">Сотрудники на смене</th>
            </tr>
            <tr>
              <th scope="col">Позиция</th>
              <th scope="col">Сотрудник</th>
              <th scope="col">Соблюдение дисциплины</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td>Администратор зала</td>
              <td>{{ object.hall_admin.get_full_name }}</td>
              <td>{{ object.hall_admin_discipline_penalty }}</td>
            </tr>
            <tr>
              <td>Администратор кассы</td>
              <td>{{ object.cash_admin.get_full_name }}</td>
              <td>{{ object.cash_admin_discipline_penalty }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        <table class="table table-dark table-hover">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th colspan="3">Характеристики</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td>Поддержание чистоты</td>
              <td>{% icon_logic object.hall_cleaning %}</td>
              <td></td>
            </tr>
            <tr>
              <td>Недостача</td>
              <td>{{ object.shortage }}</td>
              <td>{% icon_logic object.shortage_paid %}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-dark table-hover">
          <thead class="text-warning text-center verysmall">
            <tr>
              <th colspan="6">Основные показатели выручки</th>
            </tr>
            <tr>
              <th scope="col">Бар</th>
              <th scope="col">Game Zone (КНА)</th>
              <th scope="col">Ошибки</th>
              <th scope="col">Доп. услуги</th>
              <th scope="col">Кальян</th>
              <th scope="col">Общая выручка</th>
            </tr>
          </thead>
          <tbody class="text-center verysmall">
            <tr>
              <td>{{object.bar_revenue}}</td>
              <td>{{object.game_zone_revenue}}</td>
              <td>{{object.game_zone_error}}</td>
              <td>{{object.vr_revenue}}</td>
              <td>{{object.hookah_revenue}}</td>
              <td>{{object.get_summary_revenue}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}