{% extends 'salary/dashboard.html' %}
{% load salary_tags %}

{% block data %}
<div class="row justify-content-center border-top">
  <div class="col-md-12 col-sm-suto table-responsive">
    <p class="text-center mt-2">{{ title }} за {{ current_date|date:"F" }}</p>
    <table class="table table-dark verysmall">
      <thead class="text-warning text-center verysmall">
        <tr>
          <th>Сотрудник</th>
          <th>Количество смен</th>
          <th>Суммарная выручка по бару / по кальянам</th>
          <th>Средняя выручка по КНА</th>
        </tr>
      </thead>
      <tbody class="text-center verysmall">
        <tr><td colspan="4" class="bg-dark bg-gradient">Кассиры</td></tr>
      {% for employee in award_data.cashiers_list %}
        {% if employee.shift_counter >= 4 %}
        <tr>
          <td>{{employee.full_name}}</td>
          <td>{{employee.shift_counter}}</td>
          {% if award_data.bar_leader and employee.employee == award_data.bar_leader.leader.employee %}
          <td class="bg-warning text-dark"><i class="fa-solid fa-award"></i>
          {% else %}
          <td>
          {% endif %}
          {{employee.summary_bar_revenue}}</td>
          {% if award_data.cashiers_leader and employee.employee == award_data.cashiers_leader.leader.employee %}
          <td class="bg-warning text-dark"><i class="fa-solid fa-award"></i>
          {% else %}
          <td>
          {% endif %}
          {{employee.average_revenue}}</td>
        </tr>
        {% else %}
        <tr class="text-muted">
          <td>{{employee.full_name}}</td>
          <td>{{employee.shift_counter}}</td>
          <td>{{employee.summary_bar_revenue}}</td>
          <td>{{employee.average_revenue}}</td>
        </tr>
        {% endif %}
      {% endfor %}
        <tr><td colspan="4" class="bg-dark bg-gradient">Админы</td></tr>
      {% for employee in award_data.hall_admin_list %}
        {% if employee.shift_counter >= 4 %}
        <tr>
          <td>{{employee.full_name}}</td>
          <td>{{employee.shift_counter}}</td>
          {% if award_data.hookah_leader and employee.employee == award_data.hookah_leader.leader.employee %}
          <td class="bg-warning text-dark"><i class="fa-solid fa-award"></i>
          {% else %}
          <td>
          {% endif %}
          {{employee.summary_hookah_revenue|default:"-"}}</td>
          {% if award_data.hall_admins_leader and employee.employee == award_data.hall_admins_leader.leader.employee %}
          <td class="bg-warning text-dark"><i class="fa-solid fa-award"></i>
          {% else %}
          <td>
          {% endif %}
          {{employee.average_revenue}}</td>
        </tr>
        {% else %}
        <tr class="text-muted">
          <td>{{employee.full_name}}</td>
          <td>{{employee.shift_counter}}</td>
          <td>{{employee.summary_hookah_revenue}}</td>
          <td>{{employee.average_revenue}}</td>
        </tr>
        {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}