{% load static %}
<!DOCTYPE html>
<html lang="ru" class="h-100">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script defer src="{% static 'salary/js/custom.js' %}"></script>
  <link href="{% static 'salary/css/bootstrap.css' %}" id="bootstrap-css-link" rel="stylesheet">
  <script defer src="{% static 'salary/js/all.js' %}"></script>
  <link rel="stylesheet" id="css-url" href="">
  <script>
    document.getElementById("css-url").setAttribute('href', "{% static 'salary/css/style.css' %}?v=" + Math.floor((new Date().getTime()) / 1000));
  </script>
  <link rel="icon" type="image/x-icon" href="{% static 'salary/img/favicon.ico' %}">
  <title>{{ title }}</title>
</head>

{% block body %}
{% endblock %}

</html>