{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
      <div class="row m-2">
        <!-- award rating block -->
        {% if employee_indicators.number_of_verified_workshifts >= minimal_workshifts_number and employee_indicators.rating_data %}
        <!-- Button -->
        <div class="col text-end">
          {% if employee_indicators.rating_data.position == employee_indicators.rating_data.position.ABSOLUTE_LEADER %}
          <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-crown fa-xl fa-beat-fade"></i>
            <b>Вы - {{ employee_indicators.rating_data.position.value }}!</b>
          </a>
          {% elif employee_indicators.rating_data.position != employee_indicators.rating_data.position.NOT_LEADER %}
          <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-trophy fa-xl fa-beat-fade"></i>
            <b>Вы - {{ employee_indicators.rating_data.position.value }}!</b>
          </a>
          {% else %}
          <a class="btn btn-outline-warning" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-chart-column fa-xl"></i>
            <b>Текущий рейтинг</b>
          </a>
          {% endif %}
        </div>
        <!-- Table -->
        <div class="collapse" id="expandRating">
          <div class="row justify-content-end mt-2">
            {% if employee_indicators.rating_data.special_rating.first %}
            <div class="col-md-3 col-sm-auto text-center border rounded pb-2 m-1 border-secondary">
              <span>Рейтинг по 
                {% if employee_indicators.rating_data.special_rating.first.summary_bar_revenue %}
                бару
                {% else %}
                кальянам
                {% endif %}
                <br>
              </span><hr>
              <ol class="list-group list-group-numbered text-start">
                <!-- first item -->
                {% if employee_indicators.rating_data.special_rating.first.id == user.id %}
                <li class="list-group-item list-group-item-primary" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-primary">
                {% endif %}
                  {{ employee_indicators.rating_data.special_rating.first.full_name }}
                  <span class="badge bg-primary position-absolute top-50 end-0 translate-middle">
                    {{ employee_indicators.rating_data.special_rating.first.summary_bar_revenue|default:"" }}
                    {{ employee_indicators.rating_data.special_rating.first.summary_hookah_revenue|default:"" }}
                  </span>
                </li>

                <!-- second item -->
                {% if employee_indicators.rating_data.special_rating.second %}
                  {% if employee_indicators.rating_data.special_rating.second.id == user.id %}
                  <li class="list-group-item list-group-item-success" style="font-weight: bold;">
                  {% else %}
                  <li class="list-group-item list-group-item-success">
                  {% endif %}
                    {{ employee_indicators.rating_data.special_rating.second.full_name }}
                    <span class="badge bg-success position-absolute top-50 end-0 translate-middle">
                      {{ employee_indicators.rating_data.special_rating.second.summary_bar_revenue|default:"" }}
                      {{ employee_indicators.rating_data.special_rating.second.summary_hookah_revenue|default:"" }}
                    </span>
                  </li>
                {% else %}
                  <li class="list-group-item list-group-item-success">-</li>
                {% endif %}

                <!-- third item -->
                {% if employee_indicators.rating_data.special_rating.third %}
                  {% if employee_indicators.rating_data.special_rating.third.id == user.id %}
                  <li class="list-group-item list-group-item-dark" style="font-weight: bold;">
                  {% else %}
                  <li class="list-group-item list-group-item-dark">
                  {% endif %}
                    {{ employee_indicators.rating_data.special_rating.third.full_name }}
                    <span class="badge position-absolute top-50 end-0 translate-middle">
                      {{ employee_indicators.rating_data.special_rating.third.summary_bar_revenue|default:"" }}
                      {{ employee_indicators.rating_data.special_rating.third.summary_hookah_revenue|default:"" }}
                    </span>
                  </li>
                {% else %}
                  <li class="list-group-item list-group-item-dark">-</li>
                {% endif %}
              </ol>
            </div>
            {% else %}
            <div class="col-md-3 col-sm-auto text-center border rounded pb-2 m-1 border-secondary">
              <span style="font-size: 0.5rem;">*Не соблюдены критерии для участия</span>
            </div>
            {% endif %}
            {% if employee_indicators.rating_data.common_rating.first %}
            <div class="col-md-3 col-sm-auto text-center border rounded pb-2 m-1 border-secondary">
              <span>Рейтинг по средней выручке</span><hr>
              <ol class="list-group list-group-numbered text-start">
                <!-- first item -->
                {% if employee_indicators.rating_data.common_rating.first.id == user.id %}
                <li class="list-group-item list-group-item-primary" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-primary">
                {% endif %}
                  {{ employee_indicators.rating_data.common_rating.first.full_name }}
                  <span class="badge bg-primary position-absolute top-50 end-0 translate-middle">
                    {{ employee_indicators.rating_data.common_rating.first.average_revenue|default:"" }}
                  </span>
                </li>

                <!-- second item -->
                {% if employee_indicators.rating_data.common_rating.second.id == user.id %}
                <li class="list-group-item list-group-item-success" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-success">
                {% endif %}
                  {{ employee_indicators.rating_data.common_rating.second.full_name }}
                  <span class="badge bg-success position-absolute top-50 end-0 translate-middle">
                    {{ employee_indicators.rating_data.common_rating.second.average_revenue|default:"" }}
                  </span>
                </li>

                <!-- third item -->
                {% if employee_indicators.rating_data.common_rating.third.id == user.id %}
                <li class="list-group-item list-group-item-dark" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-dark">
                {% endif %}
                  {{ employee_indicators.rating_data.common_rating.third.full_name }}
                  <span class="badge position-absolute top-50 end-0 translate-middle">
                    {{ employee_indicators.rating_data.common_rating.third.average_revenue|default:"" }}
                  </span>
                </li>
              </ol>
            </div>
            {% endif %}
          </div>
        </div>
        {% else %}
        <div class="col text-end">
          <button type="button" class="btn btn-secondary" disabled>
            <i class="fa-solid fa-chart-column fa-xl"></i>
            Текущий рейтинг
          </button><br>
          <span style="font-size: 0.5rem;">*Для участия в рейтинге необходимо {{minimal_workshifts_number}} и более проверенных смен</span>
        </div>
        {% endif %}
      </div>

      {% if perms.salary.add_workingshift %}
      <!-- close workshifts block -->
      <div class="row mt-2">
        <div class="col text-center text-secondary">
        {% if unclosed_shifts_dates %}
          Для закрытия смены воспользуйтесь кнопкой
          {% for day in unclosed_shifts_dates %}
          <br>
          <a href="{% url 'add_workshift_for_date' date=day %}?next={{ request.path }}" class="btn btn-outline-secondary mt-1">
            <i class="fa-solid fa-calendar-plus fa-beat me-2"></i>
            Закрыть смену за {{ day|date:"j E" }}
          </a>
          {% endfor %}
        {% else %}
          Все смены успешно закрыты.<br>
        {% endif %}
          <hr>
        </div>
      </div>
      {% endif %}

      {% if notification_about_shift %}
      <!-- notification about workshift block -->
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-auto">
          <div class="alert alert-success mt-2 text-center" role="alert">
            <i class="fa-solid fa-calendar-check"></i>&nbsp;Завтра Ваша рабочая смена.
          </div>
        </div>
      </div>
      {% endif %}

      {% if misconduct_data.wait_explanation %}
      <!-- misconduct notification block -->
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-auto">
          <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation fa-2xl fa-fade me-2"></i> <div class="text-justify">У вас имеются нарушения, по которым необходимо дать объяснения руководству. </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row mt-3">
        <div class="col">
          <div class="row row-cols-md-4 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2"><i class="fa-solid fa-calendar-check fa-xl"></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic normalize">Мои смены</p>
                      <hr class="m-1">
                      <span class="fw-bold normalize">{{ employee_indicators.number_of_total_workshifts|default:"-" }}</span>
                      <a href="{% url 'employee_workshifts' %}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2">
                      <i class="fa-solid fa-ruble-sign fa-xl"></i>
                    </span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic normalize">Мой заработок</p>
                      <hr class="m-1">
                      <span class="fw-bold normalize">{{ employee_indicators.summary_earnings|default:"-" | intcomma }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
                {% if misconduct_data.penalty_sum %}
              <div class="card red-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 red-snippet d-flex align-items-center justify-content-center rounded">
                {% else %}
              <div class="card blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                {% endif %}
                    <span class="m-2"><i class="fa-solid fa-sack-xmark fa-xl"></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic normalize">Штрафы</p>
                      <hr class="m-1">
                      <span class="fw-bold normalize">{{ misconduct_data.penalty_sum|default:"-" | intcomma }}</span>
                      <a href="{% url 'misconducts_user_view' username=request.user %}?next={{ request.path }}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% if employee_indicators.summary_shortage %}
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card red-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 red-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2"><i class="fa-solid fa-coins fa-xl"></i></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic normalize">Недостачи</p>
                      <hr class="m-1">
                      <span class="fw-bold normalize">{{ employee_indicators.summary_shortage|default:"-" | intcomma }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endif %}
            <hr class="w-100 mt-2">
          </div>
          <div class="row row-cols-md-3 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card red-snippet h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic normalize">
                    <i class="fa-solid fa-graduation-cap fa-xl me-2"></i>
                    Нарушения
                  </span>
                  <a href="{% url 'misconducts_user_view' username=request.user %}?next={{ request.path }}" class="stretched-link"></a>
                  {% if misconduct_data.penalty_count %}
                  <span class="badge bg-secondary text-dark">{{ misconduct_data.penalty_count }}</span>
                  {% endif %}
                </div>
                {% if misconduct_data.wait_explanation %}
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <span class="card-text"><b><i>Ожидает объяснение:</i></b></span>
                  <span class="badge bg-warning text-dark">{{ misconduct_data.wait_explanation }}</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card blue-snippet h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic normalize">
                    <i class="fa-solid fa-book fa-xl me-2"></i>
                    Документы
                  </span>
                  <a href="{% url 'employee_documents' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card green-snippet h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic normalize">
                    <i class="fa-solid fa-calendar-days fa-2xl me-2"></i>
                    Графики
                  </span>
                  <a href="{% url 'calendar' month=today_date.month year=today_date.year %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        {% block data %}
        {% endblock %}
      </div>
    </div>

  </main>

{% endblock %}