{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
      <div class="row m-2">
        <div class="col text-end">
          {% if is_absolute_leader %}
          <a class="btn btn-outline-success verysmall" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-crown fa-xl fa-beat-fade"></i>
            <b>Вы - абсолютный лидер!</b>
          </a>
          {% elif is_leader %}
          <a class="btn btn-outline-success verysmall" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-trophy fa-xl fa-beat-fade"></i>
            <b>Вы - лидер рейтинга!</b>
          </a>
          {% else %}
          <a class="btn btn-outline-warning verysmall" data-bs-toggle="collapse" href="#expandRating" role="button" aria-expanded="false" aria-controls="expandRating">
            <i class="fa-solid fa-chart-column fa-xl"></i>
            <b>Текущий рейтинг</b>
          </a>
          {% endif %}
        </div>
        <div class="collapse" id="expandRating">
          <div class="row justify-content-end mt-2">
            <div class="col-md-2 col-sm-auto text-center border rounded pb-2 m-1 border-secondary">
              <span class="verysmall">Рейтинг<br> по категории</span><hr>
              <ol class="list-group list-group-numbered verysmall text-start">
                <!-- first item -->
                {% if rating.special_rating.first.employee.id == user.id %}
                <li class="list-group-item list-group-item-primary" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-primary">
                {% endif %}
                  {{ rating.special_rating.first.employee.get_full_name }}</li>

                <!-- second item -->
                {% if rating.special_rating.second.employee.id == user.id %}
                <li class="list-group-item list-group-item-success" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-success">
                {% endif %}
                  {{ rating.special_rating.second.employee.get_full_name }}</li>

                <!-- third item -->
                {% if rating.special_rating.third.employee.id == user.id %}
                <li class="list-group-item list-group-item-dark" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-dark">
                {% endif %}
                  {{ rating.special_rating.third.employee.get_full_name }}</li>
              </ol>
            </div>
            <div class="col-md-2 col-sm-auto text-center border rounded pb-2 m-1 border-secondary">
              <span class="verysmall">Рейтинг<br> по средней выручке</span><hr>
              <ol class="list-group list-group-numbered verysmall text-start">
                <!-- first item -->
                {% if rating.common_rating.first.employee.id == user.id %}
                <li class="list-group-item list-group-item-primary" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-primary">
                {% endif %}
                  {{ rating.common_rating.first.employee.get_full_name }}</li>

                <!-- second item -->
                {% if rating.common_rating.second.employee.id == user.id %}
                <li class="list-group-item list-group-item-success" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-success">
                {% endif %}
                  {{ rating.common_rating.second.employee.get_full_name }}</li>

                <!-- third item -->
                {% if rating.common_rating.third.employee.id == user.id %}
                <li class="list-group-item list-group-item-dark" style="font-weight: bold;">
                {% else %}
                <li class="list-group-item list-group-item-dark">
                {% endif %}
                  {{ rating.common_rating.third.employee.get_full_name }}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      {% if permission_to_close %}
      <div class="row mt-2">
        <div class="col text-center verysmall text-secondary">
          {% today_workshift_exists_check as today_workshift_is_exists %}
          {% if today_workshift_is_exists %}
          Текущая смена закрыта.<br>
          {% else %}
          Для закрытия текущей смены воспользуйтесь кнопкой<br>
          <a href="{% url 'add_workshift' %}?next={{ request.path }}" class="btn btn-outline-secondary verysmall mt-1">
            <i class="fa-solid fa-calendar-plus fa-beat me-2"></i>
            Закрыть смену
          </a>
          {% endif %}
          <hr>
        </div>
      </div>
      {% endif %}

      {% if notification_about_shift %}
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-auto">
          <div class="alert alert-success mt-2 verysmall text-center" role="alert">
            <i class="fa-solid fa-calendar-check"></i>&nbsp;Завтра Ваша рабочая смена.
          </div>
        </div>
      </div>
      {% endif %}

      {% if wait_explanation %}
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-auto">
          <div class="alert alert-danger d-flex align-items-center mt-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation fa-2xl fa-fade me-2"></i> <div class="verysmall text-justify">У вас имеются нарушения, по которым необходимо дать объяснения руководству. </div>
          </div>
        </div>
      </div>
      {% endif %}
      <div class="row m-3">
        <div class="col">
          <div class="row row-cols-md-4 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card text-light blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2"><i class="fa-solid fa-calendar-check fa-xl"></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic">Мои смены</p>
                      <hr class="m-1">
                      <span class="fw-bold">{{ object_list.count|default:"-" }}</span>
                      <a href="{% url 'employee_workshifts' %}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card text-light blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2">
                      <i class="fa-solid fa-ruble-sign fa-xl"></i>
                    </span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic">Мой заработок</p>
                      <hr class="m-1">
                      <span class="fw-bold">{{ summary_earnings|default:"-" | intcomma }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-3 mb-1">
                {% if penalty_sum %}
              <div class="card text-light red-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 red-snippet d-flex align-items-center justify-content-center rounded">
                {% else %}
              <div class="card text-light blue-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 blue-snippet d-flex align-items-center justify-content-center rounded">
                {% endif %}
                    <span class="m-2"><i class="fa-solid fa-sack-xmark fa-xl"></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic">Штрафы</p>
                      <hr class="m-1">
                      <span class="fw-bold">{{ penalty_sum|default:"-" | intcomma }}</span>
                      <a href="{% url 'misconducts_user_view' username=request.user %}?next={{ request.path }}" class="stretched-link"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% if shortage_sum %}
            <div class="col-sm-12 col-md-3 mb-1">
              <div class="card text-light red-snippet h-100">
                <div class="row g-0">
                  <div class="col-md-2 red-snippet d-flex align-items-center justify-content-center rounded">
                    <span class="m-2"><i class="fa-solid fa-coins fa-xl"></i></i></span>
                  </div>
                  <div class="col m-1">
                    <div class="text-center">
                      <p class="card-text fst-italic">Недостачи</p>
                      <hr class="m-1">
                      <span class="fw-bold">{{ shortage_sum|default:"-" | intcomma }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              {% endif %}
            <hr class="w-100 mt-2">
          </div>
          <div class="row row-cols-md-3 row-cols-sm-1 justify-content-center">
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card red-snippet text-light h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic">
                    <i class="fa-solid fa-graduation-cap fa-xl me-2"></i>
                    Нарушения
                  </span>
                  <a href="{% url 'misconducts_user_view' username=request.user %}?next={{ request.path }}" class="stretched-link"></a>
                  {% if penalty_count %}<span class="badge bg-secondary text-dark">{{ penalty_count }}</span>{% endif %}
                </div>
                {% if wait_explanation %}
                <div class="card-footer d-flex justify-content-between align-items-center">
                  <span class="card-text text-light verysmall"><b><i>Ожидает объяснение:</i></b></span><span class="badge bg-warning text-dark">{{ wait_explanation }}</span>
                </div>
                {% endif %}
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card blue-snippet text-light h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic">
                    <i class="fa-solid fa-book fa-xl me-2"></i>
                    Документы
                  </span>
                  <a href="{% url 'employee_documents' %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-1">
              <div class="card green-snippet text-light h-100">
                <div class="card-body d-flex justify-content-between align-items-center">
                  <span class="card-text fst-italic">
                    <i class="fa-solid fa-calendar-days fa-2xl me-2"></i>
                    Графики
                  </span>
                  <a href="{% url 'calendar' month=today_date.month year=today_date.year %}" class="stretched-link"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        {% block data %}
        {% endblock %}
      </div>
    </div>

  </main>

{% endblock %}