{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 col-sm-auto m-3">
        {% if not object_list %}
        <p class="text-warning text-center">Смен пока нет.</p><hr>
        {% else %}
        <p class="text-warning text-center">Смены за {{ object_list.0.shift_date|date:"F Y г."|lower }}</p><hr>
        <ul class="list-group">
          {% for workshift in object_list %}
          {% if workshift.is_verified %}
          <li class="list-group-item list-group-item-action list-group-item-success m-1 rounded">
          {% else %}
          <li class="list-group-item list-group-item-action list-group-item-warning m-1 rounded">
          {% endif %}
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1 verysmall">
                {% if workshift.is_verified %}
                <a class="btn btn-outline-success verysmall pt-0 pb-0" href="{{ workshift.get_absolute_url }}"><i class="fa-solid fa-calendar-check"></i> {{ workshift.shift_date }}</a>
                {% else %}
                <a class="btn btn-warning verysmall pt-0 pb-0" href="{{ workshift.get_absolute_url }}"><i class="fa-regular fa-clock fa-fade"></i> {{ workshift.shift_date }}</a>
                {% endif %}
              </span>
              {% if request.user == workshift.cash_admin %}
              {% if workshift.shortage and workshift.shortage_paid %}
              <span class="text-secondary verysmall"><i class="fa-solid fa-sack-xmark"></i> <s>{{ workshift.shortage | intcomma }}</s></span>
              {% elif workshift.shortage %}
              <span class="text-danger"><b><i class="fa-solid fa-sack-xmark"></i> <i>{{ workshift.shortage | intcomma }}</i></b> </span>
              {% endif %}
            {% endif %}
              <span><i class="fa-solid fa-coins"></i>
                <i><b>
                {% if request.user == workshift.hall_admin %}
                  {{ workshift.hall_admin_earnings.final_earnings | intcomma }}
                {% elif request.user == workshift.cash_admin %}
                  {{ workshift.cashier_earnings.final_earnings | intcomma }}
                {% endif %}
                </b></i>
              </span>
            </div>
            <hr class="m-1">
            <div class="row row-cols-3 text-center">
              {% if request.user == workshift.hall_admin %}
              <div class="col"><span class="badge bg-secondary"><i class="fa-solid fa-bong"></i> {{ workshift.hookah_revenue | intcomma }}</span></div>
              {% elif request.user == workshift.cash_admin %}
              <div class="col"><span class="badge bg-secondary"><i class="fa-solid fa-utensils"></i> {{ workshift.bar_revenue | intcomma }}</span></div>
              {% endif %}
              <div class="col"><span class="badge bg-secondary"><i class="fa-brands fa-playstation"></i> {{ workshift.game_zone_subtotal | intcomma }}</span></div>
              <div class="col"><span class="badge bg-secondary"><i class="fa-solid fa-cash-register"></i> {{ workshift.summary_revenue | intcomma }}</span></div>
            </div>
            <hr class="m-1">
            {% if workshift.comment_for_cash_admin and request.user == workshift.cash_admin %}
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed verysmall bg-secondary pt-0 pb-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Имеется комментарий к смене.
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body verysmall bg-secondary">
                    {{ workshift.comment_for_cash_admin|linebreaks }}
                  </div>
                </div>
              </div>
            </div>
            {% elif workshift.comment_for_hall_admin and request.user == workshift.hall_admin %}
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Имеется комментарий к смене.
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{ workshift.comment_for_hall_admin|linebreaks }}
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        <hr>
        <ul class="list-group">
          {% if rating.position != rating.position.NOT_LEADER %}
          <li class="list-group-item list-group-item-action list-group-item-success m-1 rounded">
            <div class="d-flex w-100 justify-content-between verysmall">
              <span class="mb-1">
                <b>Бонус ({{ rating.position.value }})</b>
              </span>
              <span><i class="fa-solid fa-coins"></i>
                <i><b>{{ rating.bonus|intcomma }}</b></i>
              </span>
            </div>
          </li>
          {% endif %}
          <li class="list-group-item list-group-item-action list-group-item-success m-1 rounded">
            <div class="d-flex w-100 justify-content-between">
              <span class="mb-1">
                <b>Суммарно за месяц:</b>
              </span>
              <span><i class="fa-solid fa-coins"></i>
                <i><b>{{ summary_earnings|default:"-" | intcomma }}</b></i>
              </span>
            </div>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col text-center"><a href="{% url 'index' %}" class="btn btn-secondary verysmall"><i class="fa-solid fa-house"></i>&nbsp;На главную</a></div>
      <div class="col text-center"><a href="{% url 'employee_monthly_list' %}" class="btn btn-primary verysmall"><i class="fa-solid fa-calendar-days"></i>&nbsp;Архив</a></div>
    </div>
  </div>
</main>
{% endblock %}