{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<div class="container">
  <div class="row mt-2">
    <div class="col text-center">
      <h4>{{ intruder.get_full_name }}</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-auto border-bottom border-top ps-0">
    {% if object_list %}
      {% for misconduct in object_list %} 
      <div class="card mt-1 mb-2">
        <div class="card-header d-flex justify-content-between p-1">
            <span class="mb-1 normalize">{{ misconduct.misconduct_date}}</span>
              {% if misconduct.status == 'AD' %}
              <span class="text-danger">
              <i class="fa-solid fa-file-circle-question fa-fade" style="color: coral;"></i> Ожидает объяснение
              {% elif misconduct.status == 'WT' %}
              <span class="text-warning">
              <i class="fa-regular fa-clock fa-fade"></i> На рассмотрении
              {% elif misconduct.status == 'CL' %}
              <span class="text-success">
              <i class="fa-solid fa-clipboard-check" style="color: green;"></i> Решение принято
              {% endif %}
            </span>
            {% if perms.salary.change_misconduct and perms.salary.delete_misconduct %}
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle clear-after-toggle pb-0 pt-0 mb-1" type="button" id="dropdownMenuActions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-secondary dropdown-menu-end" aria-labelledby="dropdownMenuActions">
                <li>
                  <a class="dropdown-item" href="{% url 'edit_misconduct' pk=misconduct.pk %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-pen"></i>&nbsp;Редактировать
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item text-danger" href="{% url 'delete_misconduct' pk=misconduct.pk %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-minus"></i>&nbsp;Удалить
                  </a>
                </li>
              </ul>
            </div>
            {% endif %}
        </div>
        <div class="card-body p-1">
          <div class="text-justify">
            <span class="normalize">
              <b>Нарушен п. {{ misconduct.regulations_article.article }} 
              <a href="https://drive.google.com/file/d/1d_wiCKQi9yC1eT4aKvm2mMLqdeq65XgJ/view?usp=sharing" class="link-dark">Регламента</a></b>
            </span>
            <br>
            <span class="text-justify">{{ misconduct.regulations_article.title }}</span>
          </div>
        </div>
        <div class="card-footer p-1">
          <div class="d-flex w-100 justify-content-between">
            <span class="normalize"><b>
              {% if misconduct.penalty %}
              {{ misconduct.penalty | intcomma }} руб.
              {% else %}
              Предупреждение
              {% endif %}
            </b></span>
            <a class="btn btn-outline-primary mt-1 pt-0 pb-0" href="{{ misconduct.get_absolute_url }}">Подробно</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <p class="text-center">
      Сумма штрафов по нарушениям: <b>{{ penalty_sum }} руб.</b>
      </p>
      {% else %}
      <h6 class="text-success text-center">Нарушений нет.</h5>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      {% if request.GET.next %}
      <a class="btn btn-outline-secondary mt-1" href="{{ request.GET.next }}">Назад</a>
      {% elif perms.salary.change_misconduct and perms.salary.delete_misconduct %}
      <a class="btn btn-outline-secondary mt-1" href="{% url 'misconducts_view' %}">К списку нарушителей</a>
      {% else %}
      <a class="btn btn-outline-secondary mt-1" href="/">Назад</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}