{% extends 'salary/dashboard.html' %}

{% block data %}
<div class="row border-top">
  <div class="col text-center table-responsive">
    <table class="table table-hover">
      <thead class="text-warning text-center">
        <tr>
          <th colspan="3">Ежемесячные отчёты</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for date_range in object_list %} 
        <tr>
          <td>
            {{ date_range|date:"F Y г." }}<br>
          </td>
          <td>
            <a href="{% url 'monthly_report' year=date_range.year month=date_range.month %}" class="btn btn-secondary"><i class="fa-solid fa-coins"></i> Зарплатный отчёт</a>
          </td>
          <td>
            <a href="{% url 'award_rating' year=date_range.year month=date_range.month %}" class="btn btn-secondary"><i class="fa-solid fa-chart-simple"></i> Рейтинговый отчёт</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}