{% extends 'salary/dashboard.html' %}
{% load humanize %}

{% block data %}
<div class="col table-responsive border rounded m-3">
  <table class="table table-dark">
    <thead class="text-warning text-center">
      <tr>
        <th scope="col">Статус</th>
        <th scope="col">Дата</th>
        <th scope="col">Администратор кассы</th>
        <th scope="col">Администратор зала</th>
        <th scope="col">Общая выручка</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="text-center">
      {% for workshift in object_list %}
      {% if workshift.status == 'VFD' %}
      <tr class>
        <td>
          <i class="fa-solid fa-calendar-check" style="color: green;"></i>
      {% else %}
      <tr class="table-active">
        <td>
          <i class="fa-solid fa-hourglass-end fa-beat" style="color: yellow;"></i>
      {% endif %}
        </td>
        <td>{{ workshift.shift_date|date:"d.m.Y" }}</td>
        <td>
          <span id="{{ workshift.shift_date }}">{{ workshift.cash_admin.get_full_name }}</span>
          {% if workshift.shortage and not workshift.shortage_paid %}
          <script>
            span = document.getElementById("{{ workshift.shift_date }}");
            span.classList.add("text-warning");
          </script>
          {% endif %}
        </td>
        <td>{{ workshift.hall_admin.get_full_name }}</td>
        <td>{{ workshift.summary_revenue | intcomma }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle clear-after-toggle pb-0 pt-0" type="button" id="dropdownMenuActions" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuActions">
              <li>
                <a class="dropdown-item" href="{{ workshift.get_absolute_url }}">
                  <i class="fa-solid fa-eye"></i>&nbsp;Детальный просмотр
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'staff_edit_workshift' workshift.slug %}?next={{ request.path }}">
                  <i class="fa-solid fa-square-pen"></i>&nbsp;Редактировать смену
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <a class="dropdown-item text-danger" href="{% url 'delete_workshift' workshift.slug %}?next={{ request.path }}">
                  <i class="fa-solid fa-square-minus"></i>&nbsp;Удалить смену
                </a>
              </li>
              {% if workshift.shortage and not workshift.shortage_paid %}
              <li><hr class="dropdown-divider"></li>
              <li><span class="dropdown-item-text text-warning text-center">Недостача: {{ workshift.shortage | intcomma }}</span></li>
              <li>
                <a class="dropdown-item text-center" href="{% url 'shortage_payment' slug=workshift.slug %}?next={{ request.path }}">
                  <i class="fa-solid fa-money-bill"></i>&nbsp;Погасить
                </a>
              </li>
              {% endif %}
            </ul>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot class="text-center text-white">
      <tr>
        <td></td>
        <td>{{ object_list.count }}</td>
        <td colspan="2"></td>
        <td>
          {{ summary_revenue | intcomma }}
        </td>
        <td colspan="2"></td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="row">
  <div class="col text-center">
    <button class="btn btn-outline-secondary" onclick="history.back()">Назад</button>
  </div>
</div>
{% endblock %}