{% extends 'salary/dashboard.html' %}
{% load humanize %}

{% block data %}
<div class="col border-top">
  <div class="row justify-content-center mt-2">
    <div class="col text-end">
      {% if missed_workshifts_dates %}
      <div class="row justify-content-center">
        <div class="col-md-4 col-sm-auto">
          <div class="alert alert-warning text-center" role="alert">
            <i class="fa-solid fa-triangle-exclamation"></i>&nbsp;
            Обнаружены пропущенные смены:<br>
            {% for day in missed_workshifts_dates %}
            {{ day|date:"j E" }}&nbsp;
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'workshifts_all_years' %}?next={{ request.path }}">Все года</a></li>
          <li class="breadcrumb-item"><a href="{% url 'workshifts_for_year' year=workshift_dates.year %}?next={{ request.path }}">{{ workshift_dates | date:"Y" }}</a></li>
          <li class="breadcrumb-item active" aria-current="page">
            {% if is_unverified %}
            <a href="{% url 'workshift_archive_view' month=workshift_dates.month year=workshift_dates.year %}">{{ workshift_dates | date:"F" }} (смотреть все)</a>
            {% else %}
            {{ workshift_dates | date:"F" }}
            {% endif %}
          </li>
        </ol>
      </nav>
    </div>
    <div class="col text-end">
      <a class="btn btn-outline-primary pt-0 pb-0" href="{% url 'add_workshift' %}?next={{ request.path }}">
        <i class="fa-solid fa-calendar-plus"></i>&nbsp;Добавить смену
      </a>
    </div>
  </div>
  <div class="row justify-content-center">
    {% if workshift_list %}
    <div class="col col-md-5 col-sm-auto">
      {% if summary_revenue %}
      <h5 class="text-center">Смены за {{ workshift_dates | date:"F Y г." }}</h5>
      {% endif %}
      {% if workshift_list %}
      <ul class="list-group">
        {% for workshift in workshift_list %}
        <li  id="{{ workshift.slug }}"
        {% if workshift.status == 'VFD' %}
          class="list-group-item list-group-item-action list-group-item-success m-1 rounded"
        {% elif workshift.status == 'WTC' %}
          class="list-group-item list-group-item-action list-group-item-info m-1 rounded"
        {% else %}
          class="list-group-item list-group-item-action list-group-item-warning m-1 rounded"
        {% endif %}
        >
          <div class="d-flex w-100 justify-content-between">
            <span class="mb-1">
              {% if workshift.status == 'VFD' %}
              <a class="btn btn-success pt-0 pb-0" href="{{ workshift.get_absolute_url }}"><i class="fa-solid fa-calendar-check"></i>
              {% elif workshift.status == 'WTC' %}
              <a class="btn btn-warning pt-0 pb-0" href="{{ workshift.get_absolute_url }}"><i class="fa-solid fa-pen-to-square fa-fade"></i>
              {% else %}
              <a class="btn btn-warning pt-0 pb-0" href="{{ workshift.get_absolute_url }}"><i class="fa-regular fa-clock fa-fade"></i> 
              {% endif %}
                {{ workshift.shift_date|date:"j E" }}
              </a>
            </span>
              <span class="text-wrap">{{ workshift.get_status_display }}</span>
            <div class="dropdown">
              <button class="btn btn-outline-secondary dropdown-toggle clear-after-toggle pb-0 pt-0 mb-1" type="button" id="dropdownMenuActions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-ellipsis"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-secondary dropdown-menu-end" aria-labelledby="dropdownMenuActions">
                <li>
                  <a class="dropdown-item" href="{% url 'staff_edit_workshift' workshift.slug %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-pen"></i>&nbsp;Редактировать
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'costs_and_errors_form' workshift.pk %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-pen"></i>&nbsp;Редактировать ошибки
                  </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <a class="dropdown-item text-danger" href="{% url 'delete_workshift' workshift.slug %}?next={{ request.path }}">
                    <i class="fa-solid fa-square-minus"></i>&nbsp;Удалить
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <hr class="m-0">
          <div class="row m-1">
            <div class="col ps-0">
              <i class="fa-solid fa-user-gear"></i> {{ workshift.hall_admin.get_full_name }}<br>
              <i class="fa-solid fa-cash-register"></i> {{ workshift.cash_admin.get_full_name }}
            </div>
            <div class="col text-end align-bottom">
              <span><i class="fa-solid fa-coins"></i> <i><b>{{ workshift.summary_revenue | intcomma }}</b></i></span>
            </div>
          </div>
          <hr class="m-0 mb-1">
          <div class="d-flex w-100 justify-content-between text-dark">
            <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-utensils"></i> {{ workshift.bar_revenue | intcomma }}</span>
            <span class="badge rounded-pill bg-secondary"><i class="fa-brands fa-playstation"></i> {{ workshift.game_zone_revenue | intcomma }}</span>
            {% if workshift.game_zone_error %}
            <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-circle-xmark"></i> {{ workshift.game_zone_error | intcomma }}</span>
            {% endif %}
            {% if workshift.additional_services_revenue %}
            <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-hand-holding-dollar"></i> {{ workshift.additional_services_revenue | intcomma }}</span>
            {% endif %}
            {% if workshift.hookah_revenue %}
            <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-bong"></i> {{ workshift.hookah_revenue | intcomma }}</span>
            {% endif %}
            {% if workshift.shortage and workshift.shortage_paid %}
            <span class="badge rounded-pill bg-secondary"><i class="fa-solid fa-sack-xmark"></i> <s>{{ workshift.shortage | intcomma }}</s></span>
            {% elif workshift.shortage %}
            <a class="badge rounded-pill bg-danger link-light not-underlined" href="{% url 'shortage_payment' slug=workshift.slug %}?next={{ request.path }}#{{ workshift.slug }}" onclick="return confirm('Вы уверены, что хотите погасить недостачу?');">
              <i class="fa-solid fa-sack-xmark"></i> <i><b>{{ workshift.shortage | intcomma }}</b></i>
            </a>
            {% endif %}
          </div>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    {% else %}
    <h5 class="text-info text-center"><i class="fa-solid fa-cloud"></i> Нет данных</h5>
    {% endif %}
  </div>
  {% if summary_revenue %}
  <div class="row justify-content-center m-2">
    <div class="col-md-2 col-sm-auto text-center border rounded">
      <i class="fa-solid fa-calendar-check"></i>&nbsp;<b>{{ workshift_list.count }}</b>
    </div>
    <div class="col-md-2 col-sm-auto text-center border rounded">
      <i class="fa-solid fa-coins"></i>&nbsp;<b>{{ summary_revenue | intcomma }}</b>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-outline-secondary" onclick="history.back()">Назад</button>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col text-center">
      <a href="{% url 'index' %}" class="btn btn-secondary mt-2"><i class="fa-solid fa-house"></i>&nbsp;На главную</a>
    </div>
  </div>
</div>
{% endblock %}