{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row">
      <div class="col table-responsive border rounded m-3">
        <p class="text-warning text-center">{{ employee.get_full_name }}</p>
        {% if not object_list %}
        <p class="text-warning text-center">Смен пока нет.</p><hr>
        {% else %}
        <p class="text-warning text-center">Смены за {{ object_list.0.shift_date|date:"F Y г."|lower }}</p><hr>
        <table class="table table-hover">
          <thead class="text-warning text-center">
            <tr>
              <th>Статус</th>
              <th>Дата</th>
              <th>Заработок</th>
              <th>Штрафы</th>
              <th>Недостачи</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="text-center">
            {% for workshift in object_list %}
            <tr>
              <td>
                {% if workshift.status == 'VFD' %}
                  <i class="fa-solid fa-calendar-check" style="color: green;"></i>
                {% elif workshift.status == 'WTC' %}
                  <i class="fa-solid fa-pen-to-square fa-fade" style="color: orange;"></i>
                {% else %}
                  <i class="fa-solid fa-hourglass-end" style="color:yellow;"></i>
                {% endif %}
              </td>
              <td>{{ workshift.shift_date|date:"d.m.Y" }}</td>
              {% if employee == workshift.cash_admin %}
              <td>{{ workshift.cashier_earnings.final_earnings | intcomma }}</td>
              <td>{{ workshift.cash_admin_penalty|default:"-" | intcomma }}</td>
              <td>
                {% if workshift.shortage_paid and workshift.shortage %}
                  <s class="text-secondary">{{ workshift.shortage|default:"-" | intcomma }}</s>
                {% elif workshift.shortage %}
                  <a class="btn btn-danger pt-0 pb-0"
                     href="{% url 'shortage_payment' slug=workshift.slug %}?next={{ request.path }}"
                     onclick="return confirm('Вы уверены, что хотите погасить недостачу?');"
                  >
                    {{ workshift.shortage | intcomma }} <i class="fa-solid fa-sack-xmark"></i>
                  </a>
                {% else %}
                  -
                {% endif %}
              </td>
              {% else %}
              <td>{{ workshift.hall_admin_earnings.final_earnings | intcomma }}</td>
              <td>{{ workshift.hall_admin_penalty|default:"-" | intcomma }}</td>
              <td>-</td>
              {% endif %}
              <td><a href="{{ workshift.get_absolute_url }}" class="link-primary">Смотреть</a></td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot class="text-center">
            <tr>
              <td>Суммарно за месяц:</td>
              <td>{{ object_list.count }}</td>
              <td>{{ summary_earnings|default:"-" | intcomma }}</td>
              <td>{{ summary_penalties|default:"-" | intcomma }}</td>
              <td>{{ summary_shortages|default:"-" | intcomma }}</td>
              <td></td>
            </tr>
          </tfoot>
        </table>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-outline-secondary" onclick="history.back()">Назад</button>
      </div>
    </div>
  </div>
</main>
{% endblock %}