{% extends 'salary/dashboard.html' %}

{% block data %}
<div class="row border-top">
  <div class="col text-center table-responsive">
    <table class="table table-dark table-hover">
      <thead class="text-warning text-center">
        <tr>
          <th>Архив смен</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for date_range in object_list %} 
        <tr>
          <td>
            <a href="{% url 'workshift_archive_view' year=date_range.year month=date_range.month %}?next={{ request.path }}" class="link-primary">{{ date_range|date:"F Y г." }}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <td>
            <button class="btn btn-outline-secondary" onclick="history.back()">Назад</button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}