{% extends 'salary/logined_page.html' %}
{% load humanize %}
{% load salary_tags %}

{% block content %}
  <main>
    <div class="container">
     <div class="row justify-content-center">
        <div class="col-md-6 col-sm-auto">
          <div class="alert alert-warning d-flex align-items-center mt-2" role="alert">
            <i class="fa-solid fa-triangle-exclamation fa-2xl fa-fade me-2"></i> <div class="verysmall text-justify">
              Функционирование Вашей учетной записи временно ограничено, так как она находится на проверке у руководства. Проверка может занимать до нескольких дней. После проверки, функционал будет доступен в полном объеме.</div>
          </div>
          <div class="text-justify verysmall">
            Для продолжения процесса регистрации Вам необходимо представить отсканированные образы заполненных документов о трудоустройстве руководству.<br> Для перехода к загрузке документов нажмите 
            <a href="{% url 'employment_documents_upload' %}" class="link-primary">сюда.</a>
          </div>
        </div>
      </div>
      {% if perms.salary.add_workingshift %}
      <!-- close workshifts block -->
      <div class="row mt-2 justify-content-center">
        <div class="col-md-6 col-sm-auto text-center verysmall text-secondary pt-1 border-top">
        {% if unclosed_shifts_dates %}
          Для закрытия смены воспользуйтесь кнопкой
          {% for day in unclosed_shifts_dates %}
          <br>
          <a href="{% url 'add_workshift_for_date' date=day %}?next={{ request.path }}" class="btn btn-outline-secondary verysmall mt-1">
            <i class="fa-solid fa-calendar-plus fa-beat me-2"></i>
            Закрыть смену за {{ day|date:"j E" }}
          </a>
          {% endfor %}
        {% else %}
          Все смены успешно закрыты.<br>
        {% endif %}
          <hr>
        </div>
      </div>
      {% endif %}
    </div>
  </main>

{% endblock %}