.normalize {
    font-size: 1rem;
}

.footnote {
    font-size: 0.5rem;
}

.blue-snippet {
    background: linear-gradient(100deg, #684ff7 0%, #3f0575 100%);
    border-color: #3f0575;
    color: #fff;
}

.blue-snippet:hover {
    background: #3f0575;
}

.green-snippet {
    background: linear-gradient(100deg, #2fc72f 0%, #055717 100%);
    border-color: #055717;
    color: #fff;
}

.green-snippet:hover {
    background: #055717;
}

.red-snippet {
    background: linear-gradient(100deg, #c72f2f 0%, #570505 100%);
    border-color: #570505;
    color: #fff;
}

.red-snippet:hover {
    background: #570505;
}

.orange-snippet {
    background: linear-gradient(100deg, #dac508 0%, #da6200 100%);
    border-color: #da6200;
    color: #fff;
}

.orange-snippet:hover {
    background: #da6200;
}

.clear-after-toggle::after {
    content: none;
}

.text-justify {
    text-align: justify;
}

.text-orange {
    color: #fd7e14;
}

.text-acid {
    color: #04ff00;
}

.chart_div {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.not-underlined {
    text-decoration: none;
}

.text-my-notify {
    color: #62b9ff;
}

.bshadow {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

#calendar {
    width: 100%;
}

#calendar tr {
    height: 3.5em;
}

#calendar thead tr {
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

#calendar tbody td {
    width: 14%;
    border-radius: 10%;
    position: relative;
    z-index: 0;
    text-align: center;
}


.table-report {
    margin-bottom: 0px;
}

.table-report tbody td {
    padding-top: 0pt;
    padding-bottom: 0pt;
}

.table-report thead th {
    padding-top: 0pt;
    padding-bottom: 0pt;
}

.verified {
    background-color: #370075;
    color: #b4ddff;
}

.verified:hover {
    background-color: #1900ff;
}

.planed {
    background-color: #5DE100;
    color: #000;
}

@media screen and (max-width:350px) {
    .mobile-hide {
        display: none;
    }
}