.verysmall {
    font-size: 0.75rem;
}

.footnote {
    font-size: 0.5rem;
}

.blue-snippet {
    background: linear-gradient(100deg,#684ff7 0%,#3f0575 100%);
    border-color: #3f0575;
}
.blue-snippet:hover {
    background: #3f0575;
}

.green-snippet {
    background: linear-gradient(100deg,#2fc72f 0%,#055717 100%);
    border-color: #055717;
}
.green-snippet:hover{
    background: #055717;
}

.red-snippet {
    background: linear-gradient(100deg,#c72f2f 0%,#570505 100%);
    border-color: #570505;
}
.red-snippet:hover {
    background: #570505;
}

.orange-snippet {
    background: linear-gradient(100deg,#dac508 0%,#da6200 100%);
    border-color: #da6200;
}
.orange-snippet:hover {
    background: #da6200;
}

.clear-after-toggle::after {
    content: none;
}

.text-justify {
    text-align: justify;
}

.text-orange {
    color: #fd7e14;
}

.text-acid {
    color: #04ff00;
}

.chart_div {
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}

.not-underlined {
    text-decoration: none;
}

.bg-chat-message {
    background-color: #333333;
}

.bg-my-chat-message {
    background-color: #3372b6;
}

.text-my-notify {
    color: #62b9ff;
}

.form-control, .form-control:focus{
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    border: rgba(255, 255, 255, 0);
 }

 .clearfix::after,
.calendar ol::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* ================
Calendar Styling */
.calendar {
  border-radius: 10px;
}

.month {
  font-size: 2rem;
}

@media (min-width: 992px) {
  .month {
    font-size: 3.5rem;
  }
}

.calendar ol li {
  float: left;
  width: 14.28571%;
}

.calendar .day-names {
  border-bottom: 1px solid #eee;
}

.calendar .day-names li {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.calendar .days li {
  border-bottom: 1px solid #eee;
  min-height: 8rem;
}

.calendar .days li .date {
  margin: 0.5rem 0;
}

.calendar .days li .event {
  font-size: 0.75rem;
  padding: 0.4rem;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 4rem;
  margin-bottom: 1px;
}

.calendar .days li .event.span-2 {
  width: 200%;
}

.calendar .days li .event.begin {
  border-radius: 1rem 0 0 1rem;
}

.calendar .days li .event.end {
  border-radius: 0 1rem 1rem 0;
}

.calendar .days li .event.clear {
  background: none;
}

.calendar .days li:nth-child(n+29) {
  border-bottom: none;
}

.calendar .days li.outside .date {
  color: #ddd;
}