.verysmall {
    font-size: 0.75rem;
}

.blue-snippet {
    background: linear-gradient(100deg,#684ff7 0%,#3f0575 100%);
    border-color: #3f0575;
}
.blue-snippet:hover {
    background: #3f0575;
}

.green-snippet {
    background: linear-gradient(100deg,#2fc72f 0%,#055717 100%);
    border-color: #055717;
}
.green-snippet:hover{
    background: #055717;
}

.red-snippet {
    background: linear-gradient(100deg,#c72f2f 0%,#570505 100%);
    border-color: #570505;
}
.red-snippet:hover {
    background: #570505;
}

.orange-snippet {
    background: linear-gradient(100deg,#dac508 0%,#da6200 100%);
    border-color: #da6200;
}
.orange-snippet:hover {
    background: #da6200;
}

.clear-after-toggle::after {
    content: none;
}

.text-justify {
    text-align: justify;
}

.text-orange {
    color: #fd7e14;
}