{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        Any text for calendar
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 bshadow p-1 rounded">
        <table id="calendar">
          <thead>
              <tr class="text-info">
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td class="selected"><div style="line-height: 0.9rem;">1<br>
                <span class="badge bg-primary" style="font-size: 0.5rem;">2 658</span></div>
              </td>
              <td id="" class="text-warning">2</td>
            </tr>
            <tr>
              <td id="" class="selected">3</td>
              <td id="" class="">4</td>
              <td id="" class="">5</td>
              <td id="" class="">6</td>
              <td id="" class="">7</td>
              <td id="" class="">8</td>
              <td id="" class="">9</td>
            </tr>
            <tr>
              <td id="" class="">10</td>
              <td id="" class="">11</td>
              <td id="" class="">12</td>
              <td id="" class="">13</td>
              <td id="" class="">14</td>
              <td id="" class="">15</td>
              <td id="" class="">16</td>
            </tr>
            <tr>
              <td id="" class="">17</td>
              <td id="" class="">18</td>
              <td id="" class="">19</td>
              <td id="" class="">20</td>
              <td id="" class="">21</td>
              <td id="" class="">22</td>
              <td id="" class="">23</td>
            </tr>
            <tr>
              <td id="" class="">24</td>
              <td id="" class="">25</td>
              <td id="" class="">26</td>
              <td id="today" class="">27</td>
              <td id="" class="">28</td>
              <td id="" class="">29</td>
              <td id="" class="">30</td>
            </tr>
            <tr>
              <td id="" class="">31</td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
              <td id="disabled" class=""></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}