{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        Any text for calendar
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 bshadow p-1 rounded">
        <table id="calendar">
          <thead>
              <tr class="text-info">
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
              </tr>
          </thead>
          <tbody>
            {% for week in month_calendar %}
            <tr>
              {% for day_date, _ in week %}
                {% if not day_date %}
                <td class="disabled"></td>
                {% elif day_date == today %}
                <td class="selected"><div style="line-height: 0.9rem;">{{ day_date }}<br>
                  <span class="badge bg-primary" style="font-size: 0.5rem;">2 658</span></div>
                </td>
                {% else %}
                <td>{{ day_date }}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock %}