{% extends 'salary/logined_page.html' %}
{% load humanize %}

{% block content %}
<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-5">
        График смен в июле 2022 г.<br>
        {{ test_user.get_full_name }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 bshadow p-1 rounded">
        <table id="calendar">
          <thead>
              <tr class="text-warning">
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
              </tr>
          </thead>
          <tbody>
            {% for week in month_calendar %}
            <tr class="border-top border-secondary">
              {% for day in week %}
                {% if not day %}
                <td class="disabled"></td>
                {% elif day.earnings %}
                <td class="verified"><div style="line-height: 0.9rem;">{{ day.date.day }}<br>
                  <span class="badge bg-primary" style="font-size: 0.5rem;">{{ day.earnings }}</span>
                  <a href="#" class="stretched-link"></a></div>
                </td>
                {% elif day.is_planed %}
                <td class="planed">{{ day.date.day }}</td>
                {% else %}
                <td>{{ day.date.day }}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row row-cols-3 row-cols-md-3 justify-content-center mt-2">
      <div class="col-md-2 text-center"><i class="fa-solid fa-calendar-days" style="color: #5DE100;"></i> 6</div>
      <div class="col-md-2 text-center"><i class="fa-solid fa-calendar-check" style="color: #370075;"></i> 5</div>
      <div class="col-md-2 text-center"><i class="fa-solid fa-coins"></i> 15487</div>
    </div>
  </div>
</main>
{% endblock %}